interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_a654176b-30d4-4b21-9bc2-81d54fd92578
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/formations/current/encounters?page=0
  response:
    body:
      string: '[{"id": "0521bc9f-51e1-4d6b-9453-e12f6666aa99", "name": "etmp-coaching-introduction",
        "title": "Coaching Introduction", "encounterDescription": "", "encounterInstruction":
        "<ol>\n<li>Review the patient''s summary, encounters, and past assessments
        as needed.</li>\n<li>Change Encounter status to In Progress when session begins.</li>\n<li>Add
        notes for the patient</li>\n<li>Add Nutrition and Lifestyle treatments for
        the patient</li>\n<li>Close the Encounter</li>\n</ol>\n", "encounterColor":
        "#e67b2d", "type": "Async", "deliveryMethod": "VIDEO", "defaultDuration":
        15, "assessmentNames": ["asm-coaching-notes", "asm-treatment-recommendations"]},
        {"id": "17d6101a-bfda-4167-84bf-08f4a3728c82", "name": "etmp-coaching-notes",
        "title": "Coaching Session", "encounterDescription": "", "encounterInstruction":
        "<ol>\n<li>1. Review the patient''s summary, encounters, and past assessments
        as needed.</li>\n<li>Change Encounter status to In Progress when session begins.</li>\n<li>Add
        notes for the patient</li>\n<li>Add Nutrition and Lifestyle treatment[...]
