interactions:
- request:
    body: '{"assessmentName": "asm-hello-form2"}'
    headers:
      Authorization:
      - API_TOKEN_f08abe49-2b2b-4e7c-8a48-cbe5370c7505
      Content-Type:
      - application/json
    method: POST
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/371dd15c-cedc-4425-a394-d666c8d3fc01/encounters/22c26a65-161f-42c3-bb0f-a976dac8afe6/assessments
  response:
    body:
      string: '{"id": "4d2be3ba-2be3-4171-a8bf-de68cd8e5a42", "patientId": "371dd15c-cedc-4425-a394-d666c8d3fc01",
        "cdtId": "e77f470c-d93c-4dcf-8f21-8cebcc5c8f40", "version": 6, "jsonBody":
        {"external_guid": null, "created_at": "2022-08-04T18:27:59.737Z", "external_id":
        null, "source_type": "ENCOUNTER", "fromTemplate": false, "created_by_name":
        "API_CLIENT:YYZBMHHWDAIT", "created_by": "4927d187-3fb3-4a9b-a42d-0c740f189412",
        "assessmentTitle": "hello-form2", "relation": "ASSESSMENT", "updated_by_name":
        "API_CLIENT:YYZBMHHWDAIT", "updated_at": "2022-08-04T18:27:59.737Z", "assessmentName":
        "asm-hello-form2", "updated_by": "4927d187-3fb3-4a9b-a42d-0c740f189412", "id":
        "4d2be3ba-2be3-4171-a8bf-de68cd8e5a42", "source_id": "22c26a65-161f-42c3-bb0f-a976dac8afe6",
        "assessmentRecordId": null, "source_name": "__encounter__"}, "cdtName": "__encounter_assessment__"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: ''
version: 1
