interactions:
- request:
    body: '{"username": "bar", "email": "bar@foo.com"}'
    headers:
      Authorization:
      - API_TOKEN_f204c992-0664-4714-a534-1930bb2de758
      Content-Type:
      - application/json
    method: POST
    uri: https://api.live.welkincloud.io/tenant_REDACTED/admin/users
  response:
    body:
      string: '{"territories": [], "roles": [], "policies": [], "seats": [], "seatAssignAllowed":
        false, "applicationAccess": {"id": "ca2e8c7e-0477-4ef4-aab9-a254d49a9a6f",
        "createdAt": "2022-05-16T19:02:56.499Z", "updatedAt": "2022-05-16T19:02:56.499Z",
        "userId": "92cc5811-ff71-4101-915d-a419383db168", "adminAccessEnabled": false,
        "auditSecurityAccessEnabled": false, "instanceAccesses": []}, "id": "92cc5811-ff71-4101-915d-a419383db168",
        "username": "bar", "email": "bar@foo.com", "enabled": false, "mfaEnabled":
        false, "statusType": null, "createdAt": "2022-05-16T19:02:56.490Z", "updatedAt":
        "2022-05-16T19:02:56.490Z", "ssoAccess": false, "passwordAccess": true, "terminologyName":
        "english", "userState": "PROVISIONED", "customUserAttributes": {}, "allowedToReceiveCalls":
        false, "userAttributes": {}, "_root_user": false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: ''
version: 1
