interactions:
- request:
    body: '{"title": "new enc", "description": "new encounter", "templateName": "etmp-encounter1",
      "currentScheduledAppointment": {"eventType": "ENCOUNTER", "eventTitle": "NEW
      ENC", "startDateTime": "2022-07-25T21:29:46.707Z", "endDateTime": "2022-07-25T22:29:46.707Z",
      "hostId": "a9618392-799d-4664-a896-5f1756f8d336", "participants": [{"participantId":
      "a9618392-799d-4664-a896-5f1756f8d336", "participantRole": "psm"}, {"participantId":
      "0056c34b-9a83-41bd-bf4d-e4710d7a77f9", "participantRole": "patient"}]}}'
    headers:
      Authorization:
      - API_TOKEN_3ead7872-fcbf-43cc-bdca-710ba54a89c5
      Content-Type:
      - application/json
    method: POST
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/0056c34b-9a83-41bd-bf4d-e4710d7a77f9/encounters
  response:
    body:
      string: '{"id": "f37a4467-110d-471c-bd5d-80e5fbb00858", "patientId": "0056c34b-9a83-41bd-bf4d-e4710d7a77f9",
        "cdtId": "a281e493-423a-4fce-b3e3-908316399e44", "version": 3, "jsonBody":
        {"startDatetime": null, "local_updated_at": "2022-07-25T15:29:46.982+00:00",
        "external_guid": null, "notes": null, "description": "new encounter", "created_at":
        "2022-07-25T15:29:47.009Z", "external_id": null, "type": "etmp-encounter1",
        "title": "new enc", "activeUserName": null, "created_by_name": "API_CLIENT:YZSHZAZDPNQV",
        "currentScheduledAppointment": {"id": "8e83677c-f238-4b5a-830d-92544948a2d7",
        "createdBy": "createdBy_REDACTED_a295476f-ea75-43e1-8419-34b163c0b878", "createdAt":
        "2022-07-25T15:29:46.982Z", "updatedBy": "updatedBy_REDACTED_d0b50e1a-331b-47d1-a2d0-c2c7c43dcaa0",
        "updatedAt": "2022-07-25T15:29:46.982Z", "externalId": null, "externalIdUpdatedAt":
        "2022-07-25T15:29:46.982Z", "eventTitle": "NEW ENC", "eventDescription": null,
        "startDateTime": "2022-07-25T21:29:46.707Z", "localStartDateTime": "2022-07-25T21:29:46.707+00:00",
        "endDateTime": "2022-07-25T22:29:46.707Z", "localEndDateTime": "2022-07-25T22:29:46.707+00:00",
        "allDayEvent": false, "duration": 3600, "eventType": "ENCOUNTER", "eventStatus":
        "SCHEDULED", "eventMode": "VIDEO", "eventColor": null, "hostId": "a9618392-799d-4664-a896-5f1756f8d336",
        "timezone": null, "additionalInfo": null, "participants": [{"id": "798091b1-a3cd-452e-a403-a131b8307291",
        "participantId": "a9618392-799d-4664-a896-5f1756f8d336", "participantRole":
        "psm", "participationStatus": "", "attended": false, "timezone": null, "firstName":
        "Ben", "lastName": "Lightmatter", "deleted": false, "hasAccess": false, "email":
        "ben@lightmatter.com", "phone": null, "gender": null, "birthDate": null, "enabled":
        true}, {"id": "52f44286-719e-4233-a15e-877f95021523", "participantId": "0056c34b-9a83-41bd-bf4d-e4710d7a77f9",
        "participantRole": "patient", "participationStatus": "", "attended": false,
        "timezone": null, "firstName": "Abby", "lastName": "Henninger", "deleted":
        false, "hasAccess": false, "email": "abby+1@lightmatter.com", "phone": "",
        "gender": "UNKNOWN", "birthDate": "1984-11-03T00:00:00.000Z", "enabled": null}]},
        "updated_by_name": "API_CLIENT:YZSHZAZDPNQV", "localCalendarEventStartDatetime":
        "2022-07-25T21:29:46.707+00:00", "updated_at": "2022-07-25T15:29:47.128Z",
        "ownerUserName": "Ben Lightmatter", "templateTitle": null, "id": "f37a4467-110d-471c-bd5d-80e5fbb00858",
        "source_name": null, "calendarEventId": "8e83677c-f238-4b5a-830d-92544948a2d7",
        "activeUserId": null, "calendarEvent": {"id": "8e83677c-f238-4b5a-830d-92544948a2d7",
        "createdBy": "createdBy_REDACTED_ffc7690c-3248-4870-be4c-effee9b622db", "createdAt":
        "2022-07-25T15:29:46.982Z", "updatedBy": "updatedBy_REDACTED_9781837e-8913-48c7-bb4a-7ba5c27e6071",
        "updatedAt": "2022-07-25T15:29:46.982Z", "externalId": null, "externalIdUpdatedAt":
        "2022-07-25T15:29:46.982Z", "eventTitle": "NEW ENC", "eventDescription": null,
        "startDateTime": "2022-07-25T21:29:46.707Z", "localStartDateTime[...]
