interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_ad96694c-ae18-4c26-aad6-d54965c0c1a2
    method: DELETE
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/092ae416-1c0d-4e14-be22-9cc8dafacdbd
  response:
    body:
      string: '[{"errorCode": "ACCESS_FOR_API_CLIENT_RESTRICTED", "componentType":
        "AUTH", "message": "Access to this API is restricted for the APIClient", "details":
        {"clientId": "8857ecf5-1d28-4160-8d83-54b948032ac8", "clientName": "BQSCQORFHLKN",
        "clientType": "API_CLIENT", "organizationName": "roi-sandbox", "requestURI":
        "/roi-sandbox/demo/patients/092ae416-1c0d-4e14-be22-9cc8dafacdbd"}}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 403
      message: ''
version: 1
