interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_00246382-3fd7-42c0-a801-8d45342d7bd4
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/calendar/events/f7fc881d-28af-4fe1-b2ff-20e1ca33982f
  response:
    body:
      string: '{"id": "f7fc881d-28af-4fe1-b2ff-20e1ca33982f", "createdBy": "createdBy_REDACTED_aced2b72-03f1-4acc-95ed-29a8fcb11708",
        "createdAt": "2022-06-30T18:21:06.323Z", "updatedBy": "updatedBy_REDACTED_0e904fb6-a580-42dc-87be-2e5726884aaa",
        "updatedAt": "2022-06-30T18:33:28.162Z", "externalId": null, "externalIdUpdatedAt":
        "2022-06-30T18:21:06.323Z", "eventTitle": "New event title", "eventDescription":
        "", "startDateTime": "2022-06-28T14:00:00.000Z", "localStartDateTime": "2022-06-28T07:00:00.000-07:00",
        "endDateTime": "2022-06-28T15:00:00.000Z", "localEndDateTime": "2022-06-28T08:00:00.000-07:00",
        "allDayEvent": false, "duration": 3600, "eventType": "APPOINTMENT", "eventStatus":
        "CANCELLED", "eventMode": "IN-PERSON", "eventColor": "green", "hostId": "d9925247-7505-464a-b42c-25ac71408494",
        "timezone": "US/Pacific", "additionalInfo": null, "participants": [{"id":
        "0ccc41b8-82d3-4ddf-a750-25775427496d", "participantId": "d9925247-7505-464a-b42c-25ac71408494",
        "participantRole": "psm", "participationStatus": "", "attended": false, "timezone":
        "US/Pacific", "firstName": "Sam", "lastName": "Morgan", "deleted": false,
        "hasAccess": false, "email": "sam@lightmatter.com", "phone": "+13605605686",
        "gender": null, "birthDate": null, "enabled": true}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
[...]
