interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_501b0125-80e0-4e28-8317-316e1bc7ba1b
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/371dd15c-cedc-4425-a394-d666c8d3fc01/emails?page=0
  response:
    body:
      string: '{"content": [], "pageable": {"sort": {"sorted": false, "unsorted":
        true, "empty": true}, "pageNumber": 0, "pageSize": 20, "offset": 0, "unpaged":
        false, "paged": true}, "last": true, "totalPages": 0, "totalElements": 0,
        "first": true, "number": 0, "sort": {"sorted": false, "unsorted": true, "empty":
        true}, "numberOfElements": 0, "size": 20, "empty": true}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
