interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_7a18ec10-2230-4efa-a6ff-c4dce93b580b
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/formations/current/document-types?page=0
  response:
    body:
      string: '[{"id": "19b62276-8b19-4662-aa95-a1c65ce8dfe6", "name": "doc-type-others",
        "title": "Others", "label": "Others", "version": 75, "internal": true, "readable":
        true, "updatable": true, "type": "MULTI_RECORD", "relation": "DOCUMENT_TYPE",
        "fields": [{"name": "notes", "type": "text", "formula": null, "dictionary":
        null, "profileDataType": null, "editable": true, "searchable": false, "bulkEdit":
        false, "phi": true, "disable": false, "injectedSource": false, "displayType":
        null, "valueType": null, "meta": {"required": false}}, {"name": "id", "type":
        "text", "formula": null, "dictionary": null, "profileDataType": null, "editable":
        false, "searchable": false, "bulkEdit": false, "phi": false, "disable": false,
        "injectedSource": false, "displayType": null, "valueType": null, "meta": {"required":
        false}}, {"name": "created_at", "type": "datetime", "formula": null, "dictionary":
        null, "profileDataType": null, "editable": false, "searchable": false, "bulkEdit":
        false,[...]
