interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_cff86b44-e229-44da-823c-57f4a9307c31
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/formations/current/goal-templates?page=0
  response:
    body:
      string: '[{"name": "eat-fruit", "goalName": "Eat Fruit", "type": "dietary",
        "priority": "LOW", "taskTemplates": [{"name": "check-in-on-goal-progress",
        "subjectConfig": {"type": "ROLE", "roleName": "health-coach"}}]}, {"name":
        "pushups", "goalName": "Pushups", "type": "exercise", "priority": "LOW", "taskTemplates":
        [{"name": "check-in-on-goal-progress", "subjectConfig": {"type": "POINT_OF_CONTACT"}}]}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
