interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_2401a0af-3af9-4928-9d46-bbccd56314af
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/formations/current/cdts/allergies
  response:
    body:
      string: '{"id": "be69c457-3dcc-44ad-8aba-667b14ef11a5", "name": "allergies",
        "title": null, "label": null, "version": 75, "internal": false, "readable":
        true, "updatable": true, "type": "MULTI_RECORD", "relation": "COMMON", "fields":
        [{"name": "allergy", "type": "text", "formula": null, "dictionary": null,
        "profileDataType": null, "editable": true, "searchable": false, "bulkEdit":
        false, "phi": false, "disable": false, "injectedSource": false, "displayType":
        null, "valueType": null, "meta": {"required": false}}, {"name": "reaction_symptom",
        "type": "text", "formula": null, "dictionary": null, "profileDataType": null,
        "editable": true, "searchable": false, "bulkEdit": false, "phi": false, "disable":
        false, "injectedSource": false, "displayType": null, "valueType": null, "meta":
        {"required": false}}, {"name": "severity", "type": "select", "formula": null,
        "dictionary": null, "profileDataType": null, "editable": true, "searchable":
        false, "bulkEdit": false, "phi": false, "disable": false, "injectedSource":
        false, "displayType": "SELECT", "valueType": "STRING", "meta": {"required":
        false, "options": [{"label": "Mild", "value": "Mild", "refCdtName": null},
        {"label": "Moderate", "value": "Moderate", "refCdtName": null}, {"label":
        "Some", "value": "Some", "refCdtName": null}, {"label": "Small", "value":
        "Small", "refCdtName": null}, {"label": "Severe", "value": "Severe", "refCdtName":
        null}], "multiple": false}}, {"name": "id", "type": "text", "formula": null,
        "dictionary": null, "profileDataType": null, "editable": false, "searchable":
        false, "bulkEdit": false, "phi": false, "disable": false, "injectedSource":
        false, "displayType": null, "valueType": null, "meta": {"required": false}},
        {"name": "created_at", "type": "datetime", "formula": null, "dictionary":
        null, "profileDataType": null, "editable": false, "searchable": false, "bulkEdit":
        false,[...]
