interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_663242ea-28d5-4531-bf22-93516c4bfc1c
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/encounters?page=0
  response:
    body:
      string: '[{"errorCode": "TOKEN_EXPIRED", "componentType": "AUTH", "message":
        "Aws Jwt Token has expired", "details": {}}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 401
      message: ''
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_663242ea-28d5-4531-bf22-93516c4bfc1c
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/encounters?page=0
  response:
    body:
      string: '{"data": [], "metaInfo": {"page": 0, "pageSize": 20, "totalElements":
        0, "numberOfElements": 0, "lastPage": true, "firstPage": true, "totalPages":
        0}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
