interactions:
  - request:
      body:
        '{"title": "new enc", "description": "new encounter", "templateName": "etmp-initial-consultation",
        "currentScheduledAppointment": {"eventType": "ENCOUNTER", "eventTitle": "NEW
        ENC", "startDateTime": "2022-07-26T20:06:33.744Z", "endDateTime": "2022-07-26T21:06:33.744Z",
        "hostId": "c08af975-8afc-49cb-84ac-7189b727148c", "participants": [{"participantId":
        "c08af975-8afc-49cb-84ac-7189b727148c", "participantRole": "psm"}, {"participantId":
        "371dd15c-cedc-4425-a394-d666c8d3fc01", "participantRole": "patient"}]}}'
      headers:
        Authorization:
          - API_TOKEN_f6aae816-c6ad-446a-a23d-6534142c4aa1
        Content-Type:
          - application/json
      method: POST
      uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/371dd15c-cedc-4425-a394-d666c8d3fc01/encounters
    response:
      body:
        string:
          '{"id": "2a8ac491-19bf-4812-9197-dffc2d42cfcf", "patientId": "371dd15c-cedc-4425-a394-d666c8d3fc01",
          "cdtId": "f6e6c481-60d7-4466-8074-7fbc8e6e3cd7", "version": 4, "jsonBody":
          {"startDatetime": null, "local_updated_at": "2022-07-26T14:06:34.024+00:00",
          "external_guid": null, "notes": null, "description": "new encounter", "created_at":
          "2022-07-26T14:06:34.049Z", "external_id": null, "type": "etmp-initial-consultation",
          "title": "new enc", "activeUserName": null, "created_by_name": "API_CLIENT:YYZBMHHWDAIT",
          "currentScheduledAppointment": {"id": "488585b9-0380-4425-a980-6c8cb9a7f113",
          "createdBy": "createdBy_REDACTED_615ab52e-11bd-422f-9dde-4efbe1de1e47", "createdAt":
          "2022-07-26T14:06:34.024Z", "updatedBy": "updatedBy_REDACTED_076e93db-c17b-45b6-8f08-ddc373379db7",
          "updatedAt": "2022-07-26T14:06:34.024Z", "externalId": null, "externalIdUpdatedAt":
          "2022-07-26T14:06:34.023Z", "eventTitle": "NEW ENC", "eventDescription": null,
          "startDateTime": "2022-07-26T20:06:33.744Z", "localStartDateTime": "2022-07-26T20:06:33.744+00:00",
          "endDateTime": "2022-07-26T21:06:33.744Z", "localEndDateTime": "2022-07-26T21:06:33.744+00:00",
          "allDayEvent": false, "duration": 3600, "eventType": "ENCOUNTER", "eventStatus":
          "SCHEDULED", "eventMode": "VIDEO", "eventColor": null, "hostId": "c08af975-8afc-49cb-84ac-7189b727148c",
          "timezone": null, "additionalInfo": null, "participants": [{"id": "a83c32cd-d197-41ab-bb64-da9feb7183fb",
          "participantId": "c08af975-8afc-49cb-84ac-7189b727148c", "participantRole":
          "psm", "participationStatus": "", "attended": false, "timezone": null, "firstName":
          "Eddit ", "lastName": "Cohen", "deleted": false, "hasAccess": false, "email":
          "eddie@lightmatter.com", "phone": null, "gender": null, "birthDate": null,
          "enabled": true}, {"id": "8362b2a6-c65e-45e0-922e-c7a23acac770", "participantId":
          "371dd15c-cedc-4425-a394-d666c8d3fc01", "participantRole": "patient", "participationStatus":
          "", "attended": false, "timezone": null, "firstName": "Demo", "lastName":
          "Er", "deleted": false, "hasAccess": false, "email": "eddiehcohen@gmail.com",
          "phone": "+19142176687", "gender": "UNKNOWN", "birthDate": "1998-08-08T00:00:00.000Z",
          "enabled": null}]}, "updated_by_name": "API_CLIENT:YYZBMHHWDAIT", "localCalendarEventStartDatetime":
          "2022-07-26T20:06:33.744+00:00", "updated_at": "2022-07-26T14:06:34.168Z",
          "ownerUserName": "Eddit  Cohen", "templateTitle": null, "id": "2a8ac491-19bf-4812-9197-dffc2d42cfcf",
          "source_name": null, "calendarEventId": "488585b9-0380-4425-a980-6c8cb9a7f113",
          "activeUserId": null, "calendarEvent": {"id": "488585b9-0380-4425-a980-6c8cb9a7f113",
          "createdBy": "createdBy_REDACTED_3d9e6e71-bc4d-4319-80c3-38a61781ab99", "createdAt":
          "2022-07-26T14:06:34.024Z", "updatedBy": "updatedBy_REDACTED_45b16db7-b2d5-49f6-9d7c-3a24c346648e",
          "updatedAt": "2022-07-26T14:06:34.024Z", "externalId": null, "externalIdUpdatedAt":
          "2022-07-26T14:06:34.023Z", "eventTitle": "NEW ENC", "eventDescription": null,
          "startDateTime": "2022-07-26T20:06:33.744Z", "localSta[...]
