interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_f88eb264-5d2a-413c-982c-715d02e62c96
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/formations/current/cdts?page=0
  response:
    body:
      string: '[{"id": "f6775786-c3c3-406a-aed8-9348403cf91d", "name": "cdt-appt-checkin",
        "title": null, "label": null, "version": 10, "internal": false, "readable":
        true, "updatable": true, "type": "MULTI_RECORD", "relation": "COMMON", "fields":
        [{"name": "cdtf-how-you-doin", "type": "textarea", "formula": null, "dictionary":
        null, "profileDataType": null, "editable": true, "searchable": false, "bulkEdit":
        false, "phi": false, "disable": false, "injectedSource": false, "displayType":
        null, "valueType": null, "meta": {"required": false}}, {"name": "id", "type":
        "text", "formula": null, "dictionary": null, "profileDataType": null, "editable":
        false, "searchable": false, "bulkEdit": false, "phi": false, "disable": false,
        "injectedSource": false, "displayType": null, "valueType": null, "meta": {"required":
        false}}, {"name": "created_at", "type": "datetime", "formula": null, "dictionary":
        null, "profileDataType": null, "editable": false, "searchable": false, "bulkEdit":
        false,[...]
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_f88eb264-5d2a-413c-982c-715d02e62c96
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/formations/current/assessments?page=0
  response:
    body:
      string: '[{"id": "382ba94a-2179-4fd9-994f-cf1b74b6643a", "title": "Appointment
        Checkin", "name": "asm-appointment-checkin", "version": 10, "sections": [{"title":
        "Section 1", "name": "section-1", "order": 0, "fields": [{"label": "How you
        doin", "name": "", "refCdtName": "cdt-appt-checkin", "refCdtFieldName": "cdtf-how-you-doin",
        "order": 0, "viewType": "question", "meta": {"type": "textarea", "required":
        false}, "prePopulatedValue": null, "attachments": null}]}], "scoring": {"formula":
        "SUM", "groups": []}, "programs": [], "template": null, "conditionSettings":
        {"elements": [], "events": []}, "displayType": "SECTIONS", "autoCompleted":
        false, "_containsPHI": false}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_f88eb264-5d2a-413c-982c-715d02e62c96
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/formations/current/encounters?page=0
  response:
    body:
      string: '[{"id": "ba6186d7-9dc8-46b8-b1b5-56cc4678623f", "name": "etmp-initial-consultation",
        "title": "Initial Consultation", "encounterDescription": "", "encounterInstruction":
        "", "encounterColor": "#e67b2d", "type": "etmp-initial-consultation", "deliveryMethod":
        "VIDEO", "defaultDuration": 30, "assessmentNames": ["asm-appointment-checkin"]}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_f88eb264-5d2a-413c-982c-715d02e62c96
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/formations/current/encounter-disposition?page=0
  response:
    body:
      string: '{"id": "e6d8810e-dec0-4c4f-866f-5e8ea86862a1", "name": "__encounter_disposition__",
        "title": null, "label": null, "version": 10, "internal": true, "readable":
        true, "updatable": true, "type": "[...]
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_f88eb264-5d2a-413c-982c-715d02e62c96
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/formations/current/goal-templates?page=0
  response:
    body:
      string: '[{"name": "gtmp-test-goal-template", "goalName": "Test Goal Template",
        "type": "testtype", "priority": "LOW", "taskTemplates": [{"name": "ttmp-test-task",
        "subjectConfig": {"type": "POINT_OF_CONTACT"}}]}, {"name": "gtmp-a-new-goal",
        "goalName": "A New Goal", "type": "A Test Type", "priority": "MEDIUM", "taskTemplates":
        []}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
