interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_da623803-3ba7-462b-815e-346016b56322
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/admin/users?search=lightmatter&page=0
  response:
    body:
      string: '{"data": [{"territories": [{"createdAt": "2022-04-27T19:47:29.906Z",
        "updatedAt": "2022-04-27T19:47:29.906Z", "createdBy": "createdBy_REDACTED_c2adf3b4-303f-487a-90e5-ef2b7583af00",
        "updatedBy": "updatedBy_REDACTED_e094d55c-4650-4f72-b403-18bbfd3e20fe", "name":
        "east-coast", "territories": ["New York", "Massachusetts", "Connecticut",
        "Maryland"], "instanceName": "demo"}, {"createdAt": "2022-04-27T19:47:29.906Z",
        "updatedAt": "2022-04-27T19:47:29.906Z", "createdBy": "createdBy_REDACTED_53e24909-5af7-4dce-a74d-dd4823e73c92",
        "updatedBy": "updatedBy_REDACTED_cda7a392-3153-43aa-b37f-0725e926322c", "name":
        "west-coast", "territories": ["Oregon", "California", "Washington"], "instanceName":
        "demo"}, {"createdAt": "2022-04-27T19:47:29.906Z", "updatedAt": "2022-04-27T19:47:29.906Z",
        "createdBy": "createdBy_REDACTED_c873f67d-11bc-4134-8962-8045ee52ab2b", "updatedBy":
        "updatedBy_REDACTED_ad9007d3-ed4b-410c-9f6e-193b4067aa2d", "name": "southwest",
        "territories": ["New Mexico", "Texas", "Arizona"], "instanceName": "demo"}],
        "roles": [{"createdAt": "2022-04-27T19:47:29.913Z", "updatedAt": "2022-04-27T19:47:29.913Z",
        "permissionName": "health-coach", "instanceName": "demo", "type": "SECURITY_ROLE",
        "primaryRole": false}, {"createdAt": "2022-04-27T19:47:29.913Z", "updatedAt":
        "2022-04-27T19:47:29.913Z", "permissionName": "physician", "instanceName":
        "demo", "type": "SECURITY_ROLE", "primaryRole": true}, {"createdAt": "2022-04-27T19:47:29.913Z",
        "updatedAt": "2022-04-27T19:47:29.913Z", "permissionName": "super-admin",
        "instanceName": "demo", "type": "SECURITY_ROLE", "primaryRole": false}], "policies":
        [], "seats": [], "seatAssignAllowed": true, "applicationAccess": {"id": "89fe0f83-5b61-45cd-a3f1-e7d5be336d60",
        "createdAt": "2022-04-27T19:47:29.493Z", "updatedAt": "2022-04-27T19:47:29.493Z",
        "userId": "915c9699-fcbc-4181-94ff-ff4186386c08", "adminAccessEnabled": true,
        "auditSecurityAccessEnabled": true, "instanceAccesses": [{"instanceId": "719f5e45-8122-4049-bf76-013f0f7f22be",
        "instanceName": "demo", "instanceDescription": "Prebuilt demo environment",
        "userEmailWithInstanceDomain": null, "workshopAccessEnabled": true, "auditDataAccessEnabled":
        false}, {"instanceId": "3d648d72-7883-4e49-ad4c-ef1fd586afcf", "instanceName":
        "sandbox", "instanceDescription": "Empty Sandbox", "userEmailWithInstanceDomain":
        null, "workshopAccessEnabled": true, "auditDataAccessEnabled": false}]}, "createdByName":
        "createdByName_REDACTED_0c52ad5f-de88-4d99-978f-d172cc9dd319", "updatedByName":
        "updatedByName_REDACTED_5f937b27-8982-4f90-9c0a-faddf1349331", "id": "915c9699-fcbc-4181-94ff-ff4186386c08",
        "username": "ben", "email": "ben@lightmatter.com", "firstName": "Ben", "lastName":
        "Beecher", "enabled": true, "mfaEnabled": false, "statusType": null, "createdAt":
        "2022-04-27T19:47:29.488Z", "updatedAt": "2022-04-27T19:47:29.488Z", "ssoAccess":
        false, "passwordAccess": true, "terminologyName": "english", "userState":
        "ACTIVE", "customUserAttributes": {}, "allowedToReceiveCalls": true, "userAttributes":
        {}, "_root_user": false}, {"territories": [{"createdAt": "2022-04-27T19:48:07.371Z",
        "updatedAt": "2022-05-10T22:16:55.347Z", "createdBy": "createdBy_REDACTED_728ee396-9a93-4ac0-a718-a6ca39939369",
        "updatedBy": "updatedBy_REDACTED_6f63a988-6b96-43ab-b462-e7a369d7101f", "name":
        "east-coast", "territories": ["New York", "Massachusetts", "Connecticut",
        "Maryland"], "instanceName": "demo"}, {"createdAt": "2022-04-27T19:48:07.371Z",
        "updatedAt": "2022-05-10T22:16:55.347Z", "cre[...]
