interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_f4cdd35c-4f90-46a3-90f4-18d0ea1a8a1f
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/173a8adf-92e8-4832-8900-027c71b0d768/care-plan
  response:
    body:
      string: '{"id": "059846c0-2eae-4126-acfd-57bd27042a95", "createdByName": "createdByName_REDACTED_d42eeebc-211f-44bd-9358-ef7db8ffb362",
        "createdAt": "2022-08-08T17:56:36.088Z", "updatedByName": "updatedByName_REDACTED_dc6a6be6-12f7-4797-8199-31ac7fb0da7a",
        "updatedAt": "2022-08-08T19:18:42.624Z", "patientId": "173a8adf-92e8-4832-8900-027c71b0d768",
        "patientOverview": {"createdByName": "createdByName_REDACTED_7405a29c-6156-4840-88e5-eff5d2267274",
        "createdAt": "2022-08-08T19:18:42.623Z", "updatedByName": "updatedByName_REDACTED_b9aba97c-b1bc-46e5-b49c-c5d04decb902",
        "updatedAt": "2022-08-08T19:18:42.623Z", "overview": "Overview message test"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
