interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_3681810f-7c1d-4529-90c3-058579370f34
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/calendar/events/f7fc881d-28af-4fe1-b2ff-20e1ca33982f
  response:
    body:
      string: '{"id": "f7fc881d-28af-4fe1-b2ff-20e1ca33982f", "createdBy": "createdBy_REDACTED_fca64981-f453-4885-af8f-565c4b034be9",
        "createdAt": "2022-06-30T18:21:06.323Z", "updatedBy": "updatedBy_REDACTED_d639da55-62dc-4bbf-b061-e487ba0389ce",
        "updatedAt": "2022-06-30T18:32:25.714Z", "externalId": null, "externalIdUpdatedAt":
        "2022-06-30T18:21:06.323Z", "eventTitle": "Test create past event update",
        "eventDescription": "", "startDateTime": "2022-06-28T14:00:00.000Z", "localStartDateTime":
        "2022-06-28T07:00:00.000-07:00", "endDateTime": "2022-06-28T15:00:00.000Z",
        "localEndDateTime": "2022-06-28T08:00:00.000-07:00", "allDayEvent": false,
        "duration": 3600, "eventType": "APPOINTMENT", "eventStatus": "Scheduled",
        "eventMode": "IN-PERSON", "eventColor": "green", "hostId": "d9925247-7505-464a-b42c-25ac71408494",
        "timezone": "US/Pacific", "additionalInfo": null, "participants": [{"id":
        "0ccc41b8-82d3-4ddf-a750-25775427496d", "participantId": "d9925247-7505-464a-b42c-25ac71408494",
        "participantRole": "psm", "participationStatus": "", "attended": false, "timezone":
        "US/Pacific", "firstName": "Sam", "lastName": "Morgan", "deleted": false,
        "hasAccess": false, "email": "sam@lightmatter.com", "phone": "+13605605686",
        "gender": null, "birthDate": null, "enabled": true}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
[...]
