interactions:
- request:
    body: '{"type": "doc-type-others"}'
    headers:
      Authorization:
      - API_TOKEN_edae80e2-c1ca-4dd3-b672-1ce188e8b7a5
      Content-Type:
      - application/json
    method: POST
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/28fd23be-7530-4257-8adb-927e07af9d5d/document-summary
  response:
    body:
      string: '{"id": "909c7488-7a5e-4e87-b6f2-606e8306b4b6", "patientId": "28fd23be-7530-4257-8adb-927e07af9d5d",
        "cdtId": "dd35bf06-6fb8-4a36-9839-965ae87d5521", "version": 144, "jsonBody":
        {"external_guid": null, "created_at": "2022-10-20T21:19:34.879Z", "external_id":
        null, "source_type": null, "type": "doc-type-others", "created_by_name": "API_CLIENT:VJUQLSRUUIMR",
        "created_by": "41860744-eeed-4cac-bb76-9f500030d55c", "updated_by_name": "API_CLIENT:VJUQLSRUUIMR",
        "updated_at": "2022-10-20T21:19:34.879Z", "updated_by": "41860744-eeed-4cac-bb76-9f500030d55c",
        "files": null, "id": "909c7488-7a5e-4e87-b6f2-606e8306b4b6", "source_id":
        null, "source_name": null}, "cdtName": "_document_summary"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: ''
version: 1
