interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_752685dc-679c-4ac5-b117-063ede39f931
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/admin/users/me
  response:
    body:
      string: '[{"errorCode": "USER_NOT_FOUND", "componentType": "USER", "message":
        "User doesn''t exist", "details": {}, "date": "2022-09-16T22:22:39.437Z"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: ''
version: 1
