interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_cff86b44-e229-44da-823c-57f4a9307c31
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/formations/current/cdts/allergies
  response:
    body:
      string: '{"id": "6f288a07-15c6-4e9d-b5b5-d1d04f6259d0", "name": "allergies",
        "title": null, "label": null, "version": 74, "internal": false, "readable":
        true, "updatable": true, "type": "MULTI_RECORD", "relation": "COMMON", "fields":
        [{"name": "allergy", "type": "text", "formula": null, "dictionary": null,
        "profileDataType": null, "editable": true, "searchable": false, "bulkEdit":
        false, "phi": false, "disable": false, "injectedSource": false, "displayType":
        null, "valueType": null, "meta": {"required": false}}, {"name": "reaction_symptom",
        "type": "text", "formula": null, "dictionary": null, "profileDataType": null,
        "editable": true, "searchable": false, "bulkEdit": false, "phi": false, "disable":
        false, "injectedSource": false, "displayType": null, "valueType": null, "meta":
        {"required": false}}, {"name": "severity", "type": "select", "formula": null,
        "dictionary": null, "profileDataType": null, "editable": true, "searchable":
        false, "bulkEdit": false, "phi": false, "disable": false, "injectedSource":
        false, "displayType": "SELECT", "valueType": "STRING", "meta": {"required":
        false, "options": [{"label": "Mild", "value": "Mild", "refCdtName": null},
        {"label": "Moderate", "value": "Moderate", "refCdtName": null}, {"label":
        "Some", "value": "Some", "refCdtName": null}, {"label": "Small", "value":
        "Small", "refCdtName": null}, {"label": "Severe", "value": "Severe", "refCdtName":
        null}], "multiple": false}}, {"name": "id", "type": "text", "formula": null,
        "dictionary": null, "profileDataType": null, "editable": false, "searchable":
        false, "bulkEdit": false, "phi": false, "disable": false, "injectedSource":
        false, "displayType": null, "valueType": null, "meta": {"required": false}},
        {"name": "created_at", "type": "datetime", "formula": null, "dictionary":
        null, "profileDataType": null, "editable": false, "searchable": false, "bulkEdit":
        false,[...]
