interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_47de5399-60c5-49e2-8f72-467375a46324
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/28fd23be-7530-4257-8adb-927e07af9d5d/document-summary?page=0
  response:
    body:
      string: '{"name": "_document_summary", "data": {"content": [{"id": "a7ca862d-44c9-494a-a2b9-9490c0305bbd",
        "patientId": "28fd23be-7530-4257-8adb-927e07af9d5d", "cdtId": "fc0ef04f-31da-4be2-b347-e5b1e4c8e3c6",
        "version": 138, "jsonBody": {"external_guid": null, "created_at": "2022-10-10T14:06:40.564Z",
        "source_type": null, "external_id": null, "type": "doc-type-others", "created_by_name":
        "API_CLIENT:VJUQLSRUUIMR", "created_by": "41860744-eeed-4cac-bb76-9f500030d55c",
        "updated_by_name": "API_CLIENT:VJUQLSRUUIMR", "updated_at": "2022-10-10T14:06:46.088Z",
        "updated_by": "41860744-eeed-4cac-bb76-9f500030d55c", "files": [{"id": "f371e071-dc66-418d-8b2b-2df1adb2d758",
        "size": 5840, "storageKey": "upliv/upliv-dev/patients/28fd23be-7530-4257-8adb-927e07af9d5d/documents/5e7f8faf-c554-4c67-b3d8-5d9aba53678a",
        "contentType": "image/jpeg", "originalName": "test-image.jpeg"}], "id": "a7ca862d-44c9-494a-a2b9-9490c0305bbd",
        "source_id": null, "source_name": null}, "cdtName": "_document_summary"},
        {"id": "e0a8ea43-6dfe-4dfe-b708-bcef77fa0a8f", "patientId": "28fd23be-7530-4257-8adb-927e07af9d5d",
        "cdtId": "fc0ef04f-31da-4be2-b347-e5b1e4c8e3c6", "version": 138, "jsonBody":
        {"external_guid": null, "created_at": "2022-10-10T14:06:12.233Z", "source_type":
        null, "external_id": null, "type": "doc-type-others", "created_by_name": "API_CLIENT:VJUQLSRUUIMR",
        "created_by": "41860744-eeed-4cac-bb76-9f500030d55c", "updated_by_name": "API_C[...]
