interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_5d165f2b-492d-4fd5-932c-ead6d770c881
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/371dd15c-cedc-4425-a394-d666c8d3fc01/assessment-records/e18a2759-5089-44e7-9d31-cf942476ffab
  response:
    body:
      string: '{"id": "e18a2759-5089-44e7-9d31-cf942476ffab", "createdAt": "2022-08-06T14:51:42.624Z",
        "updatedAt": "2022-08-06T14:58:49.130Z", "createdBy": "createdBy_REDACTED_276a6f4d-3604-458a-837a-69d0014c6545",
        "updatedBy": "updatedBy_REDACTED_f27d3043-05c8-45d6-a307-ac0ed5e56e0b", "createdByName":
        "createdByName_REDACTED_969ff306-0e67-476a-a488-a9eb768c87fb", "updatedByName":
        "updatedByName_REDACTED_280d83d5-6e0d-4c1d-a005-e87f4529a143", "finalizedDate":
        null, "localFinalizedDate": null, "localCreatedDate": "2022-08-06T14:51:42.624+00:00",
        "localUpdatedDate": "2022-08-06T14:58:49.130+00:00", "assessmentName": "asm-hello-form2",
        "assessmentTitle": "hello-form2", "assessmentCdtName": "_asm-hello-form2",
        "version": 8, "patientId": "371dd15c-cedc-4425-a394-d666c8d3fc01", "status":
        "IN_PROGRESS", "answers": {"external_guid": null, "created_at": "2022-08-06T14:51:42.626Z",
        "external_id": null, "source_type": "ASSESSMENT", "created_by_name": "API_CLIENT:YYZBMHHWDAIT",
        "created_by": "4927d187-3fb3-4a9b-a42d-0c740f189412", "updated_by_name": "API_CLIENT:YYZBMHHWDAIT",
        "updated_at": "2022-08-06T14:58:49.130Z", "cdt-hello__cdtf-hi": "abc", "updated_by":
        "4927d187-3fb3-4a9b-a42d-0c740f189412", "id": "89ae7c2d-3cd4-4359-9a42-155e8c61630d",
        "source_id": "e18a2759-5089-44e7-9d31-cf942476ffab", "source_name": "asm-hello-form2"},
        "scoring": {}, "folderId": null, "expirationDate": null, "questions": {},
        "resolvedCdtValues": {}, "pfa": false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
[...]
