interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_88866c0b-3225-4293-9806-262449cede2f
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/173a8adf-92e8-4832-8900-027c71b0d768/full-encounters/d6f4b66e-1be6-403a-ae47-1bbcee264c5e
  response:
    body:
      string: '{"encounter": {"id": "d6f4b66e-1be6-403a-ae47-1bbcee264c5e", "patientId":
        "173a8adf-92e8-4832-8900-027c71b0d768", "cdtId": "b267b852-1b85-479c-801b-c80252b3c824",
        "version": 6, "jsonBody": {"startDatetime": null, "local_updated_at": "2022-08-09T16:56:35.448+00:00",
        "external_guid": null, "notes": "", "description": "", "created_at": "2022-08-09T13:26:18.059Z",
        "external_id": null, "type": "etmp-initial-consultation", "title": "Initial
        Consultation", "activeUserName": null, "created_by_name": "Eddie Cohen", "currentScheduledAppointment":
        {"id": "5eee678f-c1e5-4bb8-b53e-0ea8b79373c2", "createdBy": "createdBy_REDACTED_f10c3f1e-136a-4d95-bc04-531eaf080c7f",
        "createdAt": "2022-08-09T13:26:18.032Z", "updatedBy": "updatedBy_REDACTED_78cc52fe-ec5f-4ecb-8d60-d27893d272ed",
        "updatedAt": "2022-08-09T16:56:35.448Z", "externalId": null, "externalIdUpdatedAt":
        "2022-08-09T13:26:18.032Z", "eventTitle": "Initial Consultation", "eventDescription":
        "", "startDateTime": "2022-08-09T14:00:00.000Z", "localStartDateTime": "2022-08-09T14:00:00.000+00:00",
        "endDateTime": "2022-08-09T14:30:00.000Z", "localEndDateTime": "2022-08-09T14:30:00.000+00:00",
        "allDayEvent": false, "duration": 1800, "eventType": "ENCOUNTER", "eventStatus":
        "Scheduled", "eventMode": "VIDEO", "eventColor": "#e67b2d", "hostId": "379298b5-1b4e-48cb-a60f-e6d9cb9a5e65",
        "timezone": "UTC", "additionalInfo": null, "participants": [{"id": "358c483c-34bf-413c-8b01-a00c7b899bab",
        "participantId": "379298b5-1b4e-48cb-a60f-e6d9cb9a5e65", "participantRole":
        "psm", "participationStatus": "", "attended": false, "timezone": null, "firstName":
        "Eddie", "lastName": "Cohen", "deleted": false, "hasAccess": false, "email":
        "eddie@lightmatter.com", "phone": null, "gender": null, "birthDate": null,
        "enabled": true}, {"id": "888f9bb2-da86-4659-acf9-ce3e1c359a2f", "participantId":
        "173a8adf-92e8-4832-8900-027c71b0d768", "participantRole": "patient", "participationStatus":
        "", "attended": false, "timezone": "US/Eastern", "firstName": "Bob", "lastName":
        "Dole", "deleted": false, "hasAccess": false, "email": "bob@bobdole.com",
        "phone": "+18779078585", "gender": "MALE", "birthDate": "1923-07-22T00:00:00.000Z",
        "enabled": null}]}, "updated_by_name": "API_CLIENT:YJTWKVSGOBFE", "localCalendarEventStartDatetime":
        "2022-08-09T14:00:00.000+00:00", "updated_at": "2022-08-09T16:56:35.451Z",
        "ownerUserName": "Eddie Cohen", "templateTitle": "Initial Consultation", "id":
        "d6f4b66e-1be6-403a-ae47-1bbcee264c5e", "source_name": null, "calendarEventId":
        "5eee678f-c1e5-4bb8-b53e-0ea8b79373c2", "activeUserId": null, "calendarEvent":
        {"id": "5eee678f-c1e5-4bb8-b53e-0ea8b79373c2", "createdBy": "createdBy_REDACTED_3ec56ed3-74c7-4115-891d-2bac9b3f8749",
        "createdAt": "2022-08-09T13:26:18.032Z", "updatedBy": "updatedBy_REDACTED_7793368d-e8a9-49ae-8232-c4f35dcad780",
        "updatedAt": "2022-08-09T13:26:18.032Z", "externalId": null, "externalIdUpdatedAt":
        "2022-08-09T13:26:18.032Z", "eventTitle": "Initial Consultation", "eventDescription":
        "", "startDateTime": "2022-08-09T14:00:00.000Z", "localSt[...]
