interactions:
- request:
    body: '{"type": "doc-type-others"}'
    headers:
      Authorization:
      - API_TOKEN_26216883-c11e-43dd-a204-0860f2ebdc78
      Content-Type:
      - application/json
    method: POST
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/283f50d3-0840-426f-b07b-bd8e4ab76401/document-summary
  response:
    body:
      string: '{"id": "b3934cac-72dc-4a1e-9141-9b9f7c16eacd", "patientId": "283f50d3-0840-426f-b07b-bd8e4ab76401",
        "cdtId": "f12bff88-36b2-4ade-8300-64967bf9f562", "version": 10, "jsonBody":
        {"external_guid": null, "created_at": "2022-10-25T18:22:10.266Z", "external_id":
        null, "source_type": null, "type": "doc-type-others", "created_by_name": "API_CLIENT:THVCZFNDJBOR",
        "created_by": "881c4eb5-b83e-479b-9e47-4c4effac4090", "updated_by_name": "API_CLIENT:THVCZFNDJBOR",
        "updated_at": "2022-10-25T18:22:10.266Z", "updated_by": "881c4eb5-b83e-479b-9e47-4c4effac4090",
        "files": null, "id": "b3934cac-72dc-4a1e-9141-9b9f7c16eacd", "source_id":
        null, "source_name": null}, "cdtName": "_document_summary"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: ''
version: 1
