interactions:
- request:
    body: '{"firstName": "Foo", "lastName": "Bar"}'
    headers:
      Authorization:
      - API_TOKEN_fb056e43-d3fa-4bd1-8346-49f10b91597d
      Content-Type:
      - application/json
    method: POST
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients
  response:
    body:
      string: '{"id": "93231441-991f-4763-8eed-625670f4bfec", "externalGuid": null,
        "externalId": null, "mrn": null, "createdAt": "2022-05-11T18:37:06.700Z",
        "updatedAt": "2022-05-11T18:37:06.700Z", "createdBy": "createdBy_REDACTED_f2ffc598-6937-4326-b7d2-7f531baa876f",
        "updatedBy": "updatedBy_REDACTED_32a66aae-c9f9-4325-9b39-2f72563a7b42", "createdByName":
        "createdByName_REDACTED_4892d82c-16b8-46dd-93ee-da2aea3ba5a6", "updatedByName":
        "updatedByName_REDACTED_961f6988-c31e-4cd6-b9e2-6b7d016c0425", "firstName":
        "Foo", "lastName": "Bar", "middleName": null, "birthDate": null, "gender":
        "UNKNOWN", "maritalStatus": "UKN", "primaryLanguage": "ENGLISH", "secondaryLanguage":
        null, "email": null, "secondaryEmail": null, "phone": null, "secondaryPhone":
        null, "country": null, "state": null, "city": null, "zip": null, "addressLine1":
        null, "addressLine2": null, "timezone": null, "patientTerritories": [], "careTeamMembers":
        [], "patientPrograms": [], "careTeam": [], "cadence": [], "patientRegion":
        null, "patientRegionTitle": null, "patientTerritory": null, "pointOfContact":
        null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: ''
version: 1
