interactions:
- request:
    body: '{"overview": "This is a message for the overview."}'
    headers:
      Authorization:
      - API_TOKEN_6a722dc7-06b5-485b-a631-c6e0e3772497
      Content-Type:
      - application/json
    method: POST
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/173a8adf-92e8-4832-8900-027c71b0d768/care-plan/overview
  response:
    body:
      string: '{"createdByName": "createdByName_REDACTED_eb3db9fb-f8a0-451e-8e9d-62a25bce2143",
        "createdAt": "2022-08-08T19:18:42.623Z", "updatedByName": "updatedByName_REDACTED_0798d9d1-7dbd-424d-ab80-90e3ddeff6a3",
        "updatedAt": "2022-08-08T20:20:48.802Z", "overview": "This is a message for
        the overview."}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
