interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_1ace5dbe-fdec-4410-bd39-3e972fb4eea6
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/formations/current/goal-templates/eat-fruit
  response:
    body:
      string: '{"name": "eat-fruit", "goalName": "Eat Fruit", "type": "dietary", "priority":
        "LOW", "taskTemplates": [{"name": "check-in-on-goal-progress", "subjectConfig":
        {"type": "ROLE", "roleName": "health-coach"}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
