interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_a7f2b21f-e1bc-4be9-a07a-6b42aa87adb0
    method: DELETE
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/28fd23be-7530-4257-8adb-927e07af9d5d/document-summary/a7ca862d-44c9-494a-a2b9-9490c0305bbd
  response:
    body:
      string: ''
    headers:
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_a7f2b21f-e1bc-4be9-a07a-6b42aa87adb0
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/28fd23be-7530-4257-8adb-927e07af9d5d/document-summary/a7ca862d-44c9-494a-a2b9-9490c0305bbd
  response:
    body:
      string: '[{"errorCode": "DT_RECORD_NOT_FOUND", "componentType": "CDT", "message":
        "DT record not found", "details": {"patientId": "28fd23be-7530-4257-8adb-927e07af9d5d",
        "cdtRecordId": "a7ca862d-44c9-494a-a2b9-9490c0305bbd", "cdtName": "_document_summary"},
        "date": "2022-10-20T21:17:40.159Z"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: ''
version: 1
