interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_da623803-3ba7-462b-815e-346016b56322
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/admin/users?page=0
  response:
    body:
      string: '{"data": [{"territories": [{"createdAt": "2022-04-27T15:54:02.363Z",
        "updatedAt": "2022-04-27T15:54:02.363Z", "createdBy": "createdBy_REDACTED_0234860c-362a-4bee-94a0-47ecd180e319",
        "updatedBy": "updatedBy_REDACTED_07f8afdc-0a5b-44a2-92b6-53905876e1f7", "name":
        "east-coast", "territories": ["New York", "Massachusetts", "Connecticut",
        "Maryland"], "instanceName": "demo"}, {"createdAt": "2022-04-27T15:54:02.363Z",
        "updatedAt": "2022-04-27T15:54:02.363Z", "createdBy": "createdBy_REDACTED_40a1a7ba-92e4-45dd-bfc8-9890973f762f",
        "updatedBy": "updatedBy_REDACTED_e7b7af61-eedd-469c-8da5-4b766f5bd805", "name":
        "west-coast", "territories": ["Oregon", "California", "Washington"], "instanceName":
        "demo"}, {"createdAt": "2022-04-27T15:54:02.363Z", "updatedAt": "2022-04-27T15:54:02.363Z",
        "createdBy": "createdBy_REDACTED_b5a920be-72b5-4b9a-a2d0-6137a78c1b83", "updatedBy":
        "updatedBy_REDACTED_c2d04fbe-14da-4b0f-ae64-dcecf05f9dab", "name": "southwest",
        "territories": ["New Mexico", "Texas", "Arizona"], "instanceName": "demo"}],
        "roles": [{"createdAt": "2022-04-27T15:54:02.439Z", "updatedAt": "2022-04-27T15:54:02.439Z",
        "permissionName": "physician", "instanceName": "demo", "type": "SECURITY_ROLE",
        "primaryRole": true}, {"createdAt": "2022-04-27T15:54:02.439Z", "updatedAt":
        "2022-04-27T15:54:02.439Z", "permissionName": "health-coach", "instanceName":
        "demo", "type": "SECURITY_ROLE", "primaryRole": false}, {"createdAt": "2022-04-27T15:54:02.439Z",
        "updatedAt": "2022-04-27T15:54:02.439Z", "permissionName": "super-admin",
        "instanceName": "demo", "type": "SECURITY_ROLE", "primaryRole": false}], "policies":
        [], "seats": ["GENERAL"], "seatAssignAllowed": true, "applicationAccess":
        {"id": "4260aa05-1154-4832-b770-f20f4d8c67df", "createdAt": "2022-04-27T15:26:51.892Z",
        "updatedAt": "2022-04-27T15:48:10.844Z", "userId": "8c9abb35-ec92-4e6b-82a0-d4246537e12a",
        "adminAccessEnabled": true, "auditSecurityAccessEnabled": false, "instanceAccesses":
        [{"instanceId": "719f5e45-8122-4049-bf76-013f0f7f22be", "instanceName": "demo",
        "instanceDescription": "Prebuilt demo environment", "userEmailWithInstanceDomain":
        null, "workshopAccessEnabled": true, "auditDataAccessEnabled": false}, {"instanceId":
        "3d648d72-7883-4e49-ad4c-ef1fd586afcf", "instanceName": "sandbox", "instanceDescription":
        "Empty Sandbox", "userEmailWithInstanceDomain": null, "workshopAccessEnabled":
        true, "auditDataAccessEnabled": false}]}, "id": "8c9abb35-ec92-4e6b-82a0-d4246537e12a",
        "username": "superadmin", "email": "zachary.douglas+roi-sand@welkinhealth.com",
        "enabled": true, "mfaEnabled": false, "statusType": null, "createdAt": "2022-04-27T15:26:51.885Z",
        "updatedAt": "2022-04-27T15:26:51.885Z", "ssoAccess": false, "passwordAccess":
        true, "terminologyName": "english", "userState": "ACTIVE", "customUserAttributes":
        {}, "allowedToReceiveCalls": true, "userAttributes": {}, "_root_user": true},
        {"territories": [{"createdAt": "2022-04-27T15:55:49.595Z", "updatedAt": "2022-04-27T15:55:49.595Z",
        "createdBy": "createdBy_REDACTED_8af6567c-d295-4d97-b2e1-7781880457d0", "updatedBy":
        "updatedBy_REDACTED_e09d85fa-8042-4bb0-9c0b-772b915e1f4d", "name": "east-coast",
        "territories": ["New York", "Massachusetts", "Connecticut", "Maryland"], "instanceName":
        "demo"}, {"createdAt": "2022-04-27T15:55:49.595Z", "updatedAt": "2022-04-27T15:55:49.595Z",
     [...]
