interactions:
  - request:
      body: null
      headers:
        Authorization:
          - API_TOKEN_18d34739-3914-4c28-ad50-b617a41ef332
      method: GET
      uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/371dd15c-cedc-4425-a394-d666c8d3fc01/encounters/22c26a65-161f-42c3-bb0f-a976dac8afe6
    response:
      body:
        string:
          '{"id": "22c26a65-161f-42c3-bb0f-a976dac8afe6", "patientId": "371dd15c-cedc-4425-a394-d666c8d3fc01",
          "cdtId": "f6e6c481-60d7-4466-8074-7fbc8e6e3cd7", "version": 4, "jsonBody":
          {"startDatetime": null, "local_updated_at": "2022-07-26T14:20:17.501+00:00",
          "external_guid": null, "notes": "a new note", "description": "new encounter",
          "created_at": "2022-07-26T14:05:53.556Z", "external_id": null, "type": "etmp-initial-consultation",
          "title": "new enc", "activeUserName": null, "created_by_name": "API_CLIENT:YYZBMHHWDAIT",
          "currentScheduledAppointment": {"id": "555bd5b3-7d73-4d0a-ac9f-a770fb431ac0",
          "createdBy": "createdBy_REDACTED_111abb79-e955-4e44-8024-f2f034c2a337", "createdAt":
          "2022-07-26T14:05:53.535Z", "updatedBy": "updatedBy_REDACTED_3d6a921c-f43b-43dc-a1e4-0faa86a4ca73",
          "updatedAt": "2022-07-26T14:20:17.501Z", "externalId": null, "externalIdUpdatedAt":
          "2022-07-26T14:05:53.535Z", "eventTitle": "NEW ENC", "eventDescription": null,
          "startDateTime": "2022-07-26T20:05:53.277Z", "localStartDateTime": "2022-07-26T20:05:53.277+00:00",
          "endDateTime": "2022-07-26T21:05:53.277Z", "localEndDateTime": "2022-07-26T21:05:53.277+00:00",
          "allDayEvent": false, "duration": 3600, "eventType": "ENCOUNTER", "eventStatus":
          "SCHEDULED", "eventMode": "VIDEO", "eventColor": null, "hostId": "c08af975-8afc-49cb-84ac-7189b727148c",
          "timezone": null, "additionalInfo": null, "participants": [{"id": "fa5c40ee-208f-4d55-ae04-a0086eb42f68",
          "participantId": "c08af975-8afc-49cb-84ac-7189b727148c", "participantRole":
          "psm", "participationStatus": "", "attended": false, "timezone": null, "firstName":
          "Eddit ", "lastName": "Cohen", "deleted": false, "hasAccess": false, "email":
          "eddie@lightmatter.com", "phone": null, "gender": null, "birthDate": null,
          "enabled": true}, {"id": "bc9f58e1-313c-424b-8f8e-7bc955775283", "participantId":
          "371dd15c-cedc-4425-a394-d666c8d3fc01", "participantRole": "patient", "participationStatus":
          "", "attended": false, "timezone": null, "firstName": "Demo", "lastName":
          "Er", "deleted": false, "hasAccess": false, "email": "eddiehcohen@gmail.com",
          "phone": "+19142176687", "gender": "UNKNOWN", "birthDate": "1998-08-08T00:00:00.000Z",
          "enabled": null}]}, "updated_by_name": "API_CLIENT:YYZBMHHWDAIT", "localCalendarEventStartDatetime":
          "2022-07-26T20:05:53.277+00:00", "updated_at": "2022-07-26T14:20:17.510Z",
          "ownerUserName": "Eddit  Cohen", "templateTitle": null, "id": "22c26a65-161f-42c3-bb0f-a976dac8afe6",
          "source_name": null, "calendarEventId": "555bd5b3-7d73-4d0a-ac9f-a770fb431ac0",
          "activeUserId": null, "calendarEvent": {"id": "555bd5b3-7d73-4d0a-ac9f-a770fb431ac0",
          "createdBy": "createdBy_REDACTED_f4a8b25f-2534-45c3-ad82-dde4d837fa86", "createdAt":
          "2022-07-26T14:05:53.535Z", "updatedBy": "updatedBy_REDACTED_4a08812c-106a-43fc-8dd3-8844d8d83991",
          "updatedAt": "2022-07-26T14:05:53.535Z", "externalId": null, "externalIdUpdatedAt":
          "2022-07-26T14:05:53.535Z", "eventTitle": "NEW ENC", "eventDescription": null,
          "startDateTime": "2022-07-26T20:05:53.277Z", "localSta[...]
  - request:
      body: '{"notes": "a newer note"}'
      headers:
        Authorization:
          - API_TOKEN_18d34739-3914-4c28-ad50-b617a41ef332
        Content-Type:
          - application/json
      method: PATCH
      uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/371dd15c-cedc-4425-a394-d666c8d3fc01/encounters/22c26a65-161f-42c3-bb0f-a976dac8afe6
    response:
      body:
        string:
          '{"id": "22c26a65-161f-42c3-bb0f-a976dac8afe6", "patientId": "371dd15c-cedc-4425-a394-d666c8d3fc01",
          "cdtId": "f6e6c481-60d7-4466-8074-7fbc8e6e3cd7", "version": 4, "jsonBody":
          {"startDatetime": null, "local_[...]
