interactions:
- request:
    body: '{"overview": "This is a message for the overview."}'
    headers:
      Authorization:
      - API_TOKEN_fa8ed4bb-7a6c-4d6c-ad28-e9fb3edd5a33
      Content-Type:
      - application/json
    method: POST
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/331678c1-0ec9-4e4a-a947-8147a1d067a5/care-plan/overview
  response:
    body:
      string: '{"createdByName": "createdByName_REDACTED_9e8fa9d3-ac4d-41d2-8142-02626878aeb1",
        "createdAt": "2022-08-11T23:36:09.918Z", "updatedByName": "updatedByName_REDACTED_77eca2b8-e967-4f81-80d4-73b777ccc067",
        "updatedAt": "2022-08-11T23:36:09.918Z", "overview": "This is a message for
        the overview."}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
