interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_7cea65aa-767c-431f-85ed-867522e9c63a
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/371dd15c-cedc-4425-a394-d666c8d3fc01/emails/2a8ac491-19bf-4812-9197-dffc2d42cfcf
  response:
    body:
      string: '[{"errorCode": "EMAIL_NOT_FOUND", "componentType": "EMAIL", "message":
        "Email is not found", "details": {"patientId": "371dd15c-cedc-4425-a394-d666c8d3fc01",
        "id": "2a8ac491-19bf-4812-9197-dffc2d42cfcf"}, "date": "2023-09-18T18:36:15.807Z"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
version: 1
