interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_4d2f3a5c-db5a-4fc8-a8b7-c6c12efb9e4c
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/173a8adf-92e8-4832-8900-027c71b0d768/care-plan
  response:
    body:
      string: '{"id": "059846c0-2eae-4126-acfd-57bd27042a95", "createdByName": "createdByName_REDACTED_d67fad6d-026a-49da-a7bc-0856798080e9",
        "createdAt": "2022-08-08T17:56:36.088Z", "updatedByName": "updatedByName_REDACTED_42f17ff0-4009-4511-8858-ff4ac760a9f9",
        "updatedAt": "2022-08-08T20:20:48.803Z", "patientId": "173a8adf-92e8-4832-8900-027c71b0d768",
        "patientOverview": {"createdByName": "createdByName_REDACTED_54d21963-7c21-4bd7-bd4b-d38238365c35",
        "createdAt": "2022-08-08T19:18:42.623Z", "updatedByName": "updatedByName_REDACTED_fe36fd85-a32e-4175-86aa-0e4a026ffa25",
        "updatedAt": "2022-08-08T20:20:48.802Z", "overview": "This is a message for
        the overview."}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: '{"overview": "New overview message."}'
    headers:
      Authorization:
      - API_TOKEN_4d2f3a5c-db5a-4fc8-a8b7-c6c12efb9e4c
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/173a8adf-92e8-4832-8900-027c71b0d768/care-plan/overview
  response:
    body:
      string: '{"createdByName": "createdByName_REDACTED_4924603e-2804-4d17-a1f0-c6f0e4a601c5",
        "createdAt": "2022-08-08T19:18:42.623Z", "updatedByName": "updatedByName_REDACTED_bfdda14d-df49-440e-8567-0183585a0b51",
        "updatedAt": "2022-08-08T20:27:16.013Z", "overview": "New overview message."}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
