interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_c7b4ea24-e9cc-4fc6-adf2-cbbe554868a4
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/173a8adf-92e8-4832-8900-027c71b0d768/care-plan
  response:
    body:
      string: '{"id": "059846c0-2eae-4126-acfd-57bd27042a95", "createdByName": "createdByName_REDACTED_21855277-0c1e-4a0f-8d33-34afc52de718",
        "createdAt": "2022-08-08T17:56:36.088Z", "updatedByName": "updatedByName_REDACTED_78dd3bfb-eb49-4863-97ae-0ae12d3f70c0",
        "updatedAt": "2022-08-12T00:46:01.620Z", "patientId": "173a8adf-92e8-4832-8900-027c71b0d768",
        "patientOverview": {"createdByName": "createdByName_REDACTED_3d92c900-c75d-4f49-ba02-1184c8d19681",
        "createdAt": "2022-08-08T19:18:42.623Z", "updatedByName": "updatedByName_REDACTED_9e4cdf2b-d490-4a59-ba71-299bc68147a5",
        "updatedAt": "2022-08-12T00:46:01.619Z", "overview": "This is a new overview
        message for a test"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: '{"overview": "Why not have a new overview message?"}'
    headers:
      Authorization:
      - API_TOKEN_c7b4ea24-e9cc-4fc6-adf2-cbbe554868a4
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/173a8adf-92e8-4832-8900-027c71b0d768/care-plan/overview
  response:
    body:
      string: '{"createdByName": "createdByName_REDACTED_f229ea81-3d13-4aea-9c8e-13a69ee6eb12",
        "createdAt": "2022-08-08T19:18:42.623Z", "updatedByName": "updatedByName_REDACTED_a891b7a0-2a7d-47e0-8bc9-4214b2fba90c",
        "updatedAt": "2022-08-12T00:47:52.342Z", "overview": "Why not have a new overview
        message?"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_c7b4ea24-e9cc-4fc6-adf2-cbbe554868a4
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/173a8adf-92e8-4832-8900-027c71b0d768/care-plan
  response:
    body:
      string: '{"id": "059846c0-2eae-4126-acfd-57bd27042a95", "createdByName": "createdByName_REDACTED_68390acb-a307-4e41-959f-59119075ad80",
        "createdAt": "2022-08-08T17:56:36.088Z", "updatedByName": "updatedByName_REDACTED_61e2939e-56b5-4ab3-8406-7e07969525de",
        "updatedAt": "2022-08-12T00:47:52.342Z", "patientId": "173a8adf-92e8-4832-8900-027c71b0d768",
        "patientOverview": {"createdByName": "createdByName_REDACTED_b35068be-9813-434b-9b57-5276d7d06db7",
        "createdAt": "2022-08-08T19:18:42.623Z", "updatedByName": "updatedByName_REDACTED_21cd3c82-a446-498c-8e1f-e74bff252774",
        "updatedAt": "2022-08-12T00:47:52.342Z", "overview": "Why not have a new overview
        message?"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
