interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/092ae416-1c0d-4e14-be22-9cc8dafacdbd
  response:
    body:
      string: '{"id": "092ae416-1c0d-4e14-be22-9cc8dafacdbd", "externalGuid": null,
        "externalId": null, "mrn": null, "createdAt": "2022-05-04T02:00:33.714Z",
        "updatedAt": "2022-05-06T22:16:43.601Z", "createdBy": "REDACTED", "updatedBy":
        "REDACTED", "createdByName": "REDACTED", "updatedByName": "REDACTED", "firstName":
        "Baz", "lastName": "Bar", "middleName": null, "birthDate": null, "gender":
        "UNKNOWN", "maritalStatus": "UKN", "primaryLanguage": "ENGLISH", "secondaryLanguage":
        null, "email": null, "secondaryEmail": null, "phone": null, "secondaryPhone":
        null, "country": null, "state": null, "city": null, "zip": null, "addressLine1":
        null, "addressLine2": null, "timezone": null, "patientTerritories": [], "careTeamMembers":
        [], "patientPrograms": [], "careTeam": [], "cadence": [], "patientRegion":
        null, "patientRegionTitle": null, "patientTerritory": null, "pointOfContact":
        null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
