interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_d877a88a-8039-49d4-84bb-8c4027c58d1a
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/formations/current/pdts/pdt-billing-org
  response:
    body:
      string: '{"id": null, "name": "pdt-billing-org", "title": null, "constant":
        false, "internal": false, "readable": true, "updatable": true, "contactable":
        false, "type": "MULTI_RECORD", "sourceType": "INTERNAL", "externalSourceType":
        null, "fields": [{"name": "pdtf-organization-name", "type": "text", "formula":
        null, "dictionary": null, "profileDataType": null, "editable": true, "searchable":
        false, "bulkEdit": false, "phi": false, "injectedSource": false, "displayType":
        null, "valueType": null, "meta": {"required": true}, "richTextEnabled": false,
        "disable": false}, {"name": "pdtf-address", "type": "text", "formula": null,
        "dictionary": null, "profileDataType": null, "editable": true, "searchable":
        false, "bulkEdit": false, "phi": false, "injectedSource": false, "displayType":
        null, "valueType": null, "meta": {"required": true}, "richTextEnabled": false,
        "disable": false}, {"name": "pdtf-city", "type": "text", "formula": null,
        "dictionary": null, "profileDataType": null, "editable": true, "searchable":
        false, "bulkEdit": false, "phi": false, "injectedSource": false, "displayType":
        null, "valueType": null, "meta": {"required": true}, "richTextEnabled": false,
        "disable": false}, {"name": "pdtf-zip", "type": "text", "formula": null, "dictionary":
        null, "profileDataType": null, "editable": true, "searchable": false, "bulkEdit":
        false, "phi": false, "injectedSource": false, "displayType": null, "valueType":
        null, "meta": {"minLength": 5, "maxLength": 5, "required": true, "patterns":
        ["NUMBERS_ONLY"]}, "richTextEnabled": false, "disable": false}, {"name": "pdtf-zip4",
        "type": "text", "formula": null, "dictionary": null, "profileDataType": null,
        "editable": true, "searchable": false, "bulkEdit": false, "phi": false, "injectedSource":
        false, "displayType": null, "valueType": null, "meta": {"minLength": 4, "maxLength":
        4, "required": true, "patterns": ["NUMBERS_ONLY"]}, "richTextEnabled": false,
        "disable": false}, {"name": "pdtf-tax-id", "type": "text", "formula": null,
        "dictionary": null, "profileDataType": null, "editable": true, "searchable":
        false, "bulkEdit": false, "phi": false, "injectedSource": false, "displayType":
        null, "valueType": null, "meta": {"required": true}, "richTextEnabled": false,
        "disable": false}, {"name": "pdtf-npi", "type": "text", "formula": null, "dictionary":
        null, "profileDataType": null, "editable": true, "searchable": false, "bulkEdit":
        false, "phi": false, "injectedSource": false, "displayType": null, "valueType":
        null, "meta": {"required": true}, "richTextEnabled": false, "disable": false},
        {"name": "pdtf-state", "type": "select", "formula": null, "dictionary": null,
        "profileDataType": null, "editable": true, "searchable": false, "bulkEdit":
        false, "phi": false, "injectedSource": false, "displayType": "SELECT", "valueType":
        "STRING", "meta": {"required": true, "options": [{"label": "AA", "value":
        "AA", "refCdtName": null}, {"label": "AE", "value": "AE", "refCdtName": null},
        {"label": "AP", "value": "AP", "refCdtName": null}, {"label": "AL", "value":
        "AL", "refCdtName": null}, {"label": "AK", "value": "AK", "refCdtName": null},
        {"label": "AS", "value": "AS", "refCdtName": null}, {"label": "AZ", "value":
        "AZ", "refCdtName": null}, {"label": "AR", "value": "AR", "refCdtName": null},
        {"label": "CA", "value": "CA", "refCdtName": null}, {"label": "CO", "value":
        "CO[...]
