interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_c4b7314f-5df5-4e66-9fe6-a8e1caec5490
    method: DELETE
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/371dd15c-cedc-4425-a394-d666c8d3fc01/assessment-records/4f44ef74-9c82-4174-902b-1f9efebdebb7
  response:
    body:
      string: ''
    headers:
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_c4b7314f-5df5-4e66-9fe6-a8e1caec5490
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/371dd15c-cedc-4425-a394-d666c8d3fc01/assessment-records/4f44ef74-9c82-4174-902b-1f9efebdebb7
  response:
    body:
      string: '[{"errorCode": "ASSESSMENT_RECORD_NOT_FOUND", "componentType": "ASSESSMENT",
        "message": "Assessment record for patient not found", "details": {"recordId":
        "4f44ef74-9c82-4174-902b-1f9efebdebb7", "patientId": "371dd15c-cedc-4425-a394-d666c8d3fc01"},
        "date": "2022-08-06T15:14:47.762Z"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: ''
version: 1
