interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_0c8270ba-29f2-44f3-b5cc-a804f4d9840f
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/formations/current/programs/prog-non-target-patient
  response:
    body:
      string: '{"name": "prog-non-target-patient", "title": "Non-Target Patient",
        "description": "All other non-target patients that do not meet the criteria
        for other care plans.", "phases": [{"name": "start", "title": "Start", "type":
        "START", "description": "", "autoFinishProgram": false, "navigateTo": [{"name":
        "finish"}]}, {"name": "finish", "title": "Finish", "type": "FINISH", "description":
        "", "autoFinishProgram": false, "navigateTo": []}], "nodes": [{"id": "start",
        "data": {"label": "Start"}, "type": "graphNode", "position": {"x": 20, "y":
        20}}, {"id": "finish", "data": {"label": "Finish"}, "type": "graphNode", "position":
        {"x": 1520, "y": 20}}, {"id": "reactflow__edge-startHandleSrcRight_34f0e25d-bb67-4d65-9dd2-b7bca6e1bd73-finishHandleTargetLeft_4c1007b4-98fa-45fc-b64b-678f7fbc880a",
        "type": "smoothstep", "source": "start", "target": "finish", "animated": true,
        "sourceHandle": "HandleSrcRight_start", "targetHandle": "HandleTargetLeft_finish",
        "arrowHeadType": "arrowclosed"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
