interactions:
- request:
    body: '{"cdtName": "cdt-self-care", "cdtf-alone-time": "Yes"}'
    headers:
      Authorization:
      - API_TOKEN_f26ec852-7a22-4c51-b6e8-940bec0a72e0
      Content-Type:
      - application/json
    method: POST
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/3ff322fd-b504-4784-9798-0c7c8a4fdfb8/cdts/cdt-self-care
  response:
    body:
      string: '{"id": "20a1cd2c-dd70-4589-afc4-fb99adaa25ad", "patientId": "3ff322fd-b504-4784-9798-0c7c8a4fdfb8",
        "cdtId": "f54e57cb-85d6-4b80-84a2-2a0fef721d69", "version": 9, "jsonBody":
        {"external_guid": null, "created_at": "2022-07-27T17:51:23.073Z", "external_id":
        null, "source_type": null, "created_by_name": "API_CLIENT:LEEZSZRXSIOM", "created_by":
        "b20f9924-38ae-4701-b3c6-c2200830b93d", "updated_by_name": "API_CLIENT:LEEZSZRXSIOM",
        "updated_at": "2022-07-27T17:51:23.073Z", "updated_by": "b20f9924-38ae-4701-b3c6-c2200830b93d",
        "cdtf-alone-time": "Yes", "cdtf-unwind": null, "id": "20a1cd2c-dd70-4589-afc4-fb99adaa25ad",
        "source_id": null, "source_name": null}, "cdtName": "cdt-self-care"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: ''
version: 1
