interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_f0f2cfc1-53f9-469f-9eac-af7eb525d14b
    method: DELETE
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/371dd15c-cedc-4425-a394-d666c8d3fc01/encounters/22c26a65-161f-42c3-bb0f-a976dac8afe6/assessments/4d2be3ba-2be3-4171-a8bf-de68cd8e5a42
  response:
    body:
      string: ''
    headers:
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_f0f2cfc1-53f9-469f-9eac-af7eb525d14b
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/371dd15c-cedc-4425-a394-d666c8d3fc01/encounters/22c26a65-161f-42c3-bb0f-a976dac8afe6/assessments/4d2be3ba-2be3-4171-a8bf-de68cd8e5a42
  response:
    body:
      string: '[{"errorCode": "DT_RECORD_NOT_FOUND", "componentType": "CDT", "message":
        "DT record not found", "details": {}, "date": "2022-08-06T15:34:22.192Z"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: ''
version: 1
