interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_91aedbaa-51c9-4dda-a796-f9c160557180
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/0056c34b-9a83-41bd-bf4d-e4710d7a77f9/encounters?page=0
  response:
    body:
      string: '{"data": [{"id": "72822eb2-8034-4822-bbc2-58caa0517eea", "patientId":
        "0056c34b-9a83-41bd-bf4d-e4710d7a77f9", "cdtId": "a281e493-423a-4fce-b3e3-908316399e44",
        "version": 3, "jsonBody": {"startDatetime": null, "local_updated_at": "2022-07-18T18:30:29.369+00:00",
        "external_guid": null, "notes": null, "description": "new encounter", "created_at":
        "2022-07-18T18:30:29.390Z", "external_id": null, "type": "etmp-encounter1",
        "title": "new enc", "activeUserName": null, "created_by_name": "API_CLIENT:YZSHZAZDPNQV",
        "currentScheduledAppointment": {"id": "621ff197-5216-4416-abe1-2a82b928e0c8",
        "createdBy": "createdBy_REDACTED_fefab7b4-9084-4c35-a79a-5619d696cf19", "createdAt":
        "2022-07-18T18:30:29.369Z", "updatedBy": "updatedBy_REDACTED_2dac0457-029f-4ff3-a5c5-608d7542f3b5",
        "updatedAt": "2022-07-18T18:30:29.369Z", "externalId": null, "externalIdUpdatedAt":
        "2022-07-18T18:30:29.368Z", "eventTitle": "NEW ENC", "eventDescription": null,
        "startDateTime": "2022-07-19T00:30:19.077Z", "localStartDateTime": "2022-07-19T00:30:19.077+00:00",
        "endDateTime": "2022-07-19T01:30:19.077Z", "localEndDateTime": "2022-07-19T01:30:19.077+00:00",
        "allDayEvent": false, "duration": 3600, "eventType": "ENCOUNTER", "eventStatus":
        "SCHEDULED", "eventMode": "VIDEO", "eventColor": null, "hostId": "a9618392-799d-4664-a896-5f1756f8d336",
        "timezone": null, "additionalInfo": null, "participants": [{"id": "e7c2c977-f64a-4d53-9786-861e00588513",
        "participantId": "a9618392-799d-4664-a896-5f1756f8d336", "participantRole":
        "psm", "participationStatus": "", "attended": false, "timezone": null, "firstName":
        "Ben", "lastName": "Lightmatter", "deleted": false, "hasAccess": false, "email":
        "ben@lightmatter.com", "phone": null, "gender": null, "birthDate": null, "enabled":
        true}, {"id": "493641ae-083e-4e74-99f6-cfde53ea73e0", "participantId": "0056c34b-9a83-41bd-bf4d-e4710d7a77f9",
        "participantRole": "patient", "participationStatus": "", "attended": false,
        "timezone": null, "firstName": "Abby", "lastName": "Henninger", "deleted":
        false, "hasAccess": false, "email": "abby+1@lightmatter.com", "phone": "",
        "gender": "UNKNOWN", "birthDate": "1984-11-03T00:00:00.000Z", "enabled": null}]},
        "updated_by_name": "API_CLIENT:YZSHZAZDPNQV", "localCalendarEventStartDatetime":
        "2022-07-19T00:30:19.077+00:00", "updated_at": "2022-07-18T18:30:29.496Z",
        "ownerUserName": "Ben Lightmatter", "templateTitle": null, "id": "72822eb2-8034-4822-bbc2-58caa0517eea",
        "source_name": null, "calendarEventId": "621ff197-5216-4416-abe1-2a82b928e0c8",
        "activeUserId": null, "calendarEvent": {"id": "621ff197-5216-4416-abe1-2a82b928e0c8",
        "createdBy": "createdBy_REDACTED_770471db-a1cc-470c-9b1b-d4803eccc7ec", "createdAt":
        "2022-07-18T18:30:29.369Z", "updatedBy": "updatedBy_REDACTED_13baeec7-8970-4dda-ba63-bbc858d8ed62",
        "updatedAt": "2022-07-18T18:30:29.369Z", "externalId": null, "externalIdUpdatedAt":
        "2022-07-18T18:30:29.368Z", "eventTitle": "NEW ENC", "eventDescription": null,
        "startDateTime": "2022-07-19T00:30:19.077Z", "localStartDateTime[...]
