interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_cff86b44-e229-44da-823c-57f4a9307c31
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/formations/current/encounter-disposition
  response:
    body:
      string: '{"id": "3ea2d3da-0d25-427e-a379-8d4d13b2d244", "name": "__encounter_disposition__",
        "title": null, "label": null, "version": 74, "internal": true, "readable":
        true, "updatable": true, "type": "MULTI_RECORD", "relation": "ENCOUNTER_DISPOSITION",
        "fields": [{"name": "disposition-code", "type": "select", "formula": null,
        "dictionary": null, "profileDataType": null, "editable": true, "searchable":
        false, "bulkEdit": false, "phi": false, "disable": false, "injectedSource":
        false, "displayType": "SELECT", "valueType": "STRING", "meta": {"required":
        true, "options": [{"label": "Completed", "value": "Completed", "refCdtName":
        null}, {"label": "Rescheduled", "value": "Rescheduled", "refCdtName": null},
        {"label": "No Show", "value": "No Show", "refCdtName": null}, {"label": "Referred
        Out", "value": "Referred Out", "refCdtName": null}, {"label": "Not Eligible",
        "value": "Not Eligible", "refCdtName": null}]}}, {"name": "note", "type":
        "textarea", "formula": null, "dictionary": null, "profileDataType": null,
        "editable": true, "searchable": false, "bulkEdit": false, "phi": f[...]
