interactions:
- request:
    body: '{"pdtf-name": "Test Name"}'
    headers:
      Authorization:
      - API_TOKEN_06899d86-bd45-41ce-ab54-0dd7493d3477
      Content-Type:
      - application/json
    method: POST
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/pdts/pdt-hospitals
  response:
    body:
      string: '{"id": "213ddaef-7914-4f46-8327-e2a343a4e7f6", "createdAt": "2026-09-14T22:16:00.231Z",
        "updatedAt": "2026-09-14T22:16:00.231Z", "fullValue": "Test Name", "deleted":
        false, "jsonBody": {"pdtf-phone": null, "external_guid": null, "pdtf-name":
        "Test Name", "created_at": "2026-09-14T22:16:00.231Z", "source_type": null,
        "external_id": null, "pdtf-address": null, "created_by_name": "created_by_name_REDACTED_766118e0-f04a-4466-9be3-9e939595179b",
        "created_by": "created_by_REDACTED_03887b5c-f8bf-4c41-b9df-20daa83491ad",
        "updated_by_name": "updated_by_name_REDACTED_8df6e75d-36ae-46ad-b24b-d8e715bb7a02",
        "updated_at": "2026-09-14T22:16:00.231Z", "updated_by": "updated_by_REDACTED_f32155af-3d0f-4ef9-8220-5d7b7be0d10d",
        "id": "213ddaef-7914-4f46-8327-e2a343a4e7f6", "source_id": null, "source_name":
        null}, "pdtName": "pdt-hospitals"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
version: 1
