interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_cff86b44-e229-44da-823c-57f4a9307c31
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/formations/current/encounters/etmp-coaching-introduction
  response:
    body:
      string: '{"id": "18f625e5-1520-40c3-925f-40e533200e87", "name": "etmp-coaching-introduction",
        "title": "Coaching Introduction", "encounterDescription": "", "encounterInstruction":
        "<ol>\n<li>Review the patient''s summary, encounters, and past assessments
        as needed.</li>\n<li>Change Encounter status to In Progress when session begins.</li>\n<li>Add
        notes for the patient</li>\n<li>Add Nutrition and Lifestyle treatments for
        the patient</li>\n<li>Close the Encounter</li>\n</ol>\n", "encounterColor":
        "#e67b2d", "type": "Async", "deliveryMethod": "VIDEO", "defaultDuration":
        15, "assessmentNames": ["asm-coaching-notes", "asm-treatment-recommendations"]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
