interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_a3a3f61d-eaa8-4070-b86d-e9055dc5eadd
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/371dd15c-cedc-4425-a394-d666c8d3fc01/full-encounters/22c26a65-161f-42c3-bb0f-a976dac8afe6
  response:
    body:
      string: '{"encounter": {"id": "22c26a65-161f-42c3-bb0f-a976dac8afe6", "patientId":
        "371dd15c-cedc-4425-a394-d666c8d3fc01", "cdtId": "f6e6c481-60d7-4466-8074-7fbc8e6e3cd7",
        "version": 4, "jsonBody": {"startDatetime": "2022-07-29T01:55:24.252Z", "local_updated_at":
        "2022-07-29T01:55:24.252+00:00", "external_guid": null, "notes": "a newer
        note", "description": "new encounter", "created_at": "2022-07-26T14:05:53.556Z",
        "external_id": null, "type": "etmp-initial-consultation", "title": "new enc",
        "activeUserName": "Eddit  Cohen", "created_by_name": "API_CLIENT:YYZBMHHWDAIT",
        "currentScheduledAppointment": {"id": "555bd5b3-7d73-4d0a-ac9f-a770fb431ac0",
        "createdBy": "createdBy_REDACTED_17571e6d-926c-41db-af4f-12f391d078a5", "createdAt":
        "2022-07-26T14:05:53.535Z", "updatedBy": "updatedBy_REDACTED_eb68c00a-172a-4562-a3f8-a03ce3a7bee2",
        "updatedAt": "2022-07-29T01:55:24.252Z", "externalId": null, "externalIdUpdatedAt":
        "2022-07-26T14:05:53.535Z", "eventTitle": "NEW ENC", "eventDescription": null,
        "startDateTime": "2022-07-26T20:05:53.277Z", "localStartDateTime": "2022-07-26T20:05:53.277+00:00",
        "endDateTime": "2022-07-26T21:05:53.277Z", "localEndDateTime": "2022-07-26T21:05:53.277+00:00",
        "allDayEvent": false, "duration": 3600, "eventType": "ENCOUNTER", "eventStatus":
        "SCHEDULED", "eventMode": "VIDEO", "eventColor": null, "hostId": "c08af975-8afc-49cb-84ac-7189b727148c",
        "timezone": null, "additionalInfo": null, "participants": [{"id": "fa5c40ee-208f-4d55-ae04-a0086eb42f68",
        "participantId": "c08af975-8afc-49cb-84ac-7189b727148c", "participantRole":
        "psm", "participationStatus": "", "attended": false, "timezone": null, "firstName":
        "Eddit ", "lastName": "Cohen", "deleted": false, "hasAccess": false, "email":
        "eddie@lightmatter.com", "phone": null, "gender": null, "birthDate": null,
        "enabled": true}, {"id": "bc9f58e1-313c-424b-8f8e-7bc955775283", "participantId":
        "371dd15c-cedc-4425-a394-d666c8d3fc01", "participantRole": "patient", "participationStatus":
        "", "attended": false, "timezone": null, "firstName": "Demo", "lastName":
        "Er", "deleted": false, "hasAccess": false, "email": "eddiehcohen@gmail.com",
        "phone": "+19142176687", "gender": "UNKNOWN", "birthDate": "1998-08-08T00:00:00.000Z",
        "enabled": null}]}, "updated_by_name": "Eddit  Cohen", "localCalendarEventStartDatetime":
        "2022-07-26T20:05:53.277+00:00", "updated_at": "2022-07-29T01:55:24.262Z",
        "ownerUserName": "Eddit  Cohen", "templateTitle": null, "id": "22c26a65-161f-42c3-bb0f-a976dac8afe6",
        "source_name": null, "calendarEventId": "555bd5b3-7d73-4d0a-ac9f-a770fb431ac0",
        "activeUserId": "c08af975-8afc-49cb-84ac-7189b727148c", "calendarEvent": {"id":
        "555bd5b3-7d73-4d0a-ac9f-a770fb431ac0", "createdBy": "createdBy_REDACTED_2ab2cdb0-5afb-475b-af6a-566baa324d52",
        "createdAt": "2022-07-26T14:05:53.535Z", "updatedBy": "updatedBy_REDACTED_68d7ac05-e503-4434-b065-abaa4f022f36",
        "updatedAt": "2022-07-26T14:05:53.535Z", "externalId": null, "externalIdUpdatedAt":
        "2022-07-26T14:05:53.535Z", "eventTitle": "NEW ENC", "eventDescription": null,
        "startDateTime": "2022-07-26T20:05:53.277Z", "localStartDateTime[...]
