interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_92b1cbcd-8218-424c-a90b-dfd8a701047e
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/0056c34b-9a83-41bd-bf4d-e4710d7a77f9/encounters/72822eb2-8034-4822-bbc2-58caa0517eea
  response:
    body:
      string: '[{"errorCode": "DT_RECORD_NOT_FOUND", "componentType": "CDT", "message":
        "DT record not found", "details": {}}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: ''
version: 1
