interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_da623803-3ba7-462b-815e-346016b56322
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/admin/users/658f3b36-a12a-4bce-aad6-1e4930948b7d?type=ID
  response:
    body:
      string: '{"territories": [], "roles": [], "policies": [], "seats": [], "seatAssignAllowed":
        true, "applicationAccess": {"id": "6c143233-fd0a-4ede-8630-685315322b0c",
        "createdAt": "2022-05-13T02:04:37.414Z", "updatedAt": "2022-05-13T15:28:03.991Z",
        "userId": "658f3b36-a12a-4bce-aad6-1e4930948b7d", "adminAccessEnabled": false,
        "auditSecurityAccessEnabled": false, "instanceAccesses": []}, "updatedByName":
        "updatedByName_REDACTED_f005cfa1-a0a1-4cdb-a499-ba405ea1e2b7", "id": "658f3b36-a12a-4bce-aad6-1e4930948b7d",
        "username": "Foo", "email": "foo@bar.com", "enabled": false, "mfaEnabled":
        false, "statusType": null, "createdAt": "2022-05-13T02:04:37.395Z", "updatedAt":
        "2022-05-13T22:24:35.644Z", "ssoAccess": false, "passwordAccess": true, "terminologyName":
        "english", "userState": "INACTIVE", "customUserAttributes": {}, "allowedToReceiveCalls":
        true, "userAttributes": {}, "_root_user": false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
