interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_caaa7f4a-f7da-4d7a-b5af-86449f546370
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/371dd15c-cedc-4425-a394-d666c8d3fc01/assessment-records?page=0
  response:
    body:
      string: '{"content": [{"id": "ba80fb10-47c0-4814-8cdc-6fce1d076755", "createdAt":
        "2022-07-28T21:04:45.123Z", "updatedAt": "2022-07-28T21:05:58.450Z", "createdBy":
        "createdBy_REDACTED_f1f6d21b-6d60-4626-9e74-e4ea83608731", "updatedBy": "updatedBy_REDACTED_7d0cb1cd-b312-4a23-8f02-eb59fd6a7e6b",
        "createdByName": "createdByName_REDACTED_38c313e6-75c5-4332-b2ff-6b18b7447112",
        "updatedByName": "updatedByName_REDACTED_c3fa8065-a917-408b-aea7-975b0dae473e",
        "finalizedDate": "2022-07-28T21:05:58.450Z", "localFinalizedDate": "2022-07-28T21:05:58.450+00:00",
        "localCreatedDate": "2022-07-28T21:04:45.123+00:00", "localUpdatedDate": "2022-07-28T21:05:58.450+00:00",
        "assessmentName": "asm-hello-form", "assessmentTitle": "hello-form", "assessmentCdtName":
        "_asm-hello-form", "version": 5, "patientId": "371dd15c-cedc-4425-a394-d666c8d3fc01",
        "status": "COMPLETED", "answers": {"external_guid": null, "created_at": "2022-07-28T21:04:45.125Z",
        "external_id": null, "source_type": "ASSESSMENT", "created_by_name": "Eddit  Cohen",
        "created_by": "c08af975-8afc-49cb-84ac-7189b727148c", "updated_by_name": "Eddit  Cohen",
        "updated_at": "2022-07-28T21:05:57.910Z", "cdt-hello__cdtf-hi": "fda", "updated_by":
        "c08af975-8afc-49cb-84ac-7189b727148c", "id": "2804cabf-1234-4ad4-8d72-a9bc5b227162",
        "source_id": "ba80fb10-47c0-4814-8cdc-6fce1d076755", "source_name": "asm-hello-form"},
        "scoring": {}, "folderId": null, "expirationDate": null, "questions": {"cdt-hello__cdtf-hi":
        "hi"}, "resolvedCdtValues": {}, "pfa": false}, {"id": "39ab1f94-9b82-49b9-867e-d4b4bb28c417",
        "createdAt": "2022-07-29T01:18:39.789Z", "updatedAt": "2022-07-29T01:32:46.084Z",
        "createdBy": "createdBy_REDACTED_3c548c01-5542-4e1e-810a-c282ed6b369d", "updatedBy":
        "updatedBy_REDACTED_262fc01d-bb34-4f95-bb3b-8523f043a91d", "createdByName":
        "createdByName_REDACTED_3847a937-ac56-480e-8ae5-c2a87dd28478", "updatedByName":
        "updatedByName_REDACTED_b206da27-d8f9-4c30-93fa-51865f280148", "finalizedDate":
 [...]
