interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_bec58b67-47ec-4a22-9b01-550f93d983c1
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/371dd15c-cedc-4425-a394-d666c8d3fc01/encounters?page=0
  response:
    body:
      string: '{"data": [{"id": "22c26a65-161f-42c3-bb0f-a976dac8afe6", "patientId":
        "371dd15c-cedc-4425-a394-d666c8d3fc01", "cdtId": "f6e6c481-60d7-4466-8074-7fbc8e6e3cd7",
        "version": 4, "jsonBody": {"startDatetime": null, "local_updated_at": "2022-07-26T14:22:21.646+00:00",
        "external_guid": null, "notes": "a newer note", "description": "new encounter",
        "created_at": "2022-07-26T14:05:53.556Z", "external_id": null, "type": "etmp-initial-consultation",
        "title": "new enc", "activeUserName": null, "created_by_name": "API_CLIENT:YYZBMHHWDAIT",
        "currentScheduledAppointment": {"id": "555bd5b3-7d73-4d0a-ac9f-a770fb431ac0",
        "createdBy": "createdBy_REDACTED_2504fbb9-50e9-4cc1-aee9-88ce0fecd829", "createdAt":
        "2022-07-26T14:05:53.535Z", "updatedBy": "updatedBy_REDACTED_83674809-91c3-47b1-9259-237a38453f90",
        "updatedAt": "2022-07-26T14:22:21.646Z", "externalId": null, "externalIdUpdatedAt":
        "2022-07-26T14:05:53.535Z", "eventTitle": "NEW ENC", "eventDescription": null,
        "startDateTime": "2022-07-26T20:05:53.277Z", "localStartDateTime": "2022-07-26T20:05:53.277+00:00",
        "endDateTime": "2022-07-26T21:05:53.277Z", "localEndDateTime": "2022-07-26T21:05:53.277+00:00",
        "allDayEvent": false, "duration": 3600, "eventType": "ENCOUNTER", "eventStatus":
        "SCHEDULED", "eventMode": "VIDEO", "eventColor": null, "hostId": "c08af975-8afc-49cb-84ac-7189b727148c",
        "timezone": null, "additionalInfo": null, "participants": [{"id": "fa5c40ee-208f-4d55-ae04-a0086eb42f68",
        "participantId": "c08af975-8afc-49cb-84ac-7189b727148c", "participantRole":
        "psm", "participationStatus": "", "attended": false, "timezone": null, "firstName":
        "Eddit ", "lastName": "Cohen", "deleted": false, "hasAccess": false, "email":
        "eddie@lightmatter.com", "phone": null, "gender": null, "birthDate": null,
        "enabled": true}, {"id": "bc9f58e1-313c-424b-8f8e-7bc955775283", "participantId":
        "371dd15c-cedc-4425-a394-d666c8d3fc01", "participantRole": "patient", "participationStatus":
        "", "attended": false, "timezone": null, "firstName": "Demo", "lastName":
        "Er", "deleted": false, "hasAccess": false, "email": "eddiehcohen@gmail.com",
        "phone": "+19142176687", "gender": "UNKNOWN", "birthDate": "1998-08-08T00:00:00.000Z",
        "enabled": null}]}, "updated_by_name": "API_CLIENT:YYZBMHHWDAIT", "localCalendarEventStartDatetime":
        "2022-07-26T20:05:53.277+00:00", "updated_at": "2022-07-26T14:22:21.656Z",
        "ownerUserName": "Eddit  Cohen", "templateTitle": null, "id": "22c26a65-161f-42c3-bb0f-a976dac8afe6",
        "source_name": null, "calendarEventId": "555bd5b3-7d73-4d0a-ac9f-a770fb431ac0",
        "activeUserId": null, "calendarEvent": {"id": "555bd5b3-7d73-4d0a-ac9f-a770fb431ac0",
        "createdBy": "createdBy_REDACTED_d5dfc143-b4a3-46a4-9379-f8744ab609e6", "createdAt":
        "2022-07-26T14:05:53.535Z", "updatedBy": "updatedBy_REDACTED_ee4c4900-cf35-4cb2-87f8-b1ef327b9165",
        "updatedAt": "2022-07-26T14:05:53.535Z", "externalId": null, "externalIdUpdatedAt":
        "2022-07-26T14:05:53.535Z", "eventTitle": "NEW ENC", "eventDescription": null,
        "startDateTime": "2022-07-26T20:05:53.277Z", "localStartDateTime[...]
