interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_05ba5471-8f3a-47ad-af47-a2a5ba8ac21a
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/calendar/work-hours?from=2022-03-01T00%3A00%3A00.000Z&to=2024-03-01T00%3A00%3A00.000Z&psm-ids=960b39f0-1404-45a4-a33e-5f9fdea34ff9%2C43afc43c-c77b-4014-8...e17f59ee03
  response:
    body:
      string: '[{"psmId": "960b39f0-1404-45a4-a33e-5f9fdea34ff9", "details": [{"createdBy":
        "createdBy_REDACTED_69bb7262-8585-4953-ba26-945324fc63b3", "updatedBy": "updatedBy_REDACTED_2c2dec24-53dd-4013-bf84-73a049a78114",
        "createdAt": "2023-01-27T20:08:13.509Z", "updatedAt": "2023-01-27T20:08:13.509Z",
        "workHoursId": "5afdbec1-cac6-4538-ae4a-e82b48d22a7b", "startDateTime": "2023-01-27T20:08:12.897Z",
        "endDateTime": "2073-01-27T20:08:12.897Z", "localStartDateTime": "2023-01-27T14:08:12.897-06:00",
        "localEndDateTime": "2073-01-27T14:08:12.897-06:00", "daysInfo": [{"daysInfoId":
        "2f4b8411-d875-4e4d-8398-252c6c898f6d", "startTime": "09:00:00", "endTime":
        "17:00:00", "day": 2}, {"daysInfoId": "b1342d06-a346-42d9-9d9b-d63ad14c4816",
        "startTime": "09:00:00", "endTime": "16:00:00", "day": 3}]}]}, {"psmId": "43afc43c-c77b-4014-8224-54e17f59ee03",
        "details": [{"createdBy": "createdBy_REDACTED_b50b1318-145f-4caa-af47-8cf488345050",
        "updatedBy": "updatedBy_REDACTED_b5f901eb-5489-4943-8b45-00c04d5ad452", "createdAt":
        "2023-01-14T02:30:06.653Z", "updatedAt": "2023-01-27T20:01:59.039Z", "workHoursId":
        "99004510-db8a-4f10-b6af-8c5aab8e[...]
