interactions:
- request:
    body: '{}'
    headers:
      Authorization:
      - API_TOKEN_c7007d28-1dd0-4576-8737-5c9c73df997f
      Content-Type:
      - application/json
    method: POST
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/by-filter/patients?page=0
  response:
    body:
      string: '{"content": [{"id": "f0a6594c-f414-4b64-bc0b-1ff40fb904dd", "externalGuid":
        null, "externalId": null, "mrn": null, "createdAt": "2022-05-04T02:00:33.474Z",
        "updatedAt": "2022-05-04T02:00:33.474Z", "createdBy": "createdBy_REDACTED_4e9ebcbe-ba1b-45bd-8e50-afae7c3ce11a",
        "updatedBy": "updatedBy_REDACTED_08939e58-a67f-4dac-b449-3f4b61595852", "createdByName":
        "createdByName_REDACTED_dbced102-4eee-4010-a4c4-b8459777e638", "updatedByName":
        "updatedByName_REDACTED_e930017c-7df0-4d5a-af6b-27b7d64d072f", "firstName":
        "Foo", "lastName": "Bar", "middleName": null, "birthDate": null, "gender":
        "UNKNOWN", "maritalStatus": "UKN", "primaryLanguage": "ENGLISH", "secondaryLanguage":
        null, "email": null, "secondaryEmail": null, "phone": null, "secondaryPhone":
        null, "country": null, "state": null, "city": null, "zip": null, "addressLine1":
        null, "addressLine2": null, "timezone": null, "patientTerritories": [], "careTeamMembers":
        [], "patientPrograms": [{"id": "30171551-6a1f-45ba-b087-0ed4efd41be2", "createdByName":
        "createdByName_REDACTED_66f65578-8872-4deb-b4a2-bf0d675e7e79", "createdAt":
        "2022-05-04T02:00:33.513Z", "updatedByName": "updatedByName_REDACTED_8cfd52f4-fec3-4cd8-bf3f-e1dd3a05afac",
        "updatedAt": "2022-05-04T02:00:33.513Z", "programName": "diabetes-treatment",
        "programTitle": "Diabetes Treatment", "programDescription": "Diabetes Treatment
        Program", "assigned": true, "patientId": "f0a6594c-f414-4b64-bc0b-1ff40fb904dd",
        "currentPhase": {"timestamp": "2022-05-04T02:00:33.513Z", "createdBy": "createdBy_REDACTED_7e356fbd-3fb3-48fd-bef4-a51a55b7c444",
        "createdByName": "createdByName_REDACTED_bb95068c-f670-4447-bceb-e296bbd15b03",
        "name": "start", "title": "Intake", "description": "Diagnose and begin treatment",
        "currentVersion": "2", "deleted": false}, "status": "IN_PROGRESS", "compatibleWithCurrentVersion":
        true, "pathHistory": [{"timestamp": "2022-05-04T02:00:33.513Z", "createdBy":
        "createdBy_REDACTED_e1a9a6f7-4e60-4f77-9bb4-774df81b8b2b", "createdByName":
        "createdByName_REDACTED_b54a130f-5b4d-4ee8-ae53-010e8347d61c", "name": "start",
        "title": "Intake", "description": "Diagnose and begin treatment", "currentVersion":
        "2", "deleted": false}]}], "careTeam": [], "cadence": [], "patientRegion":
        null, "patientRegionTitle": null, "patientTerritory": null, "pointOfContact":
        null}, {"id": "ec2f7614-bbd2-48a5-be6b-54b7ffb5a467", "externalGuid": null,
        "externalId": null, "mrn": null, "createdAt": "2022-05-03T22:22:29.982Z",
        "updatedAt": "2022-05-03T22:22:29.982Z", "createdBy": "createdBy_REDACTED_c8428ac4-8ad4-4630-964b-0b06a5146787",
        "updatedBy": "updatedBy_REDACTED_59053d64-1dc6-454d-b152-cac18576e4a2", "createdByName":
        "createdByName_REDACTED_65e77a80-3b02-40b1-9d84-ef87b58eeeed", "updatedByName":
        "updatedByName_REDA[...]
- request:
    body: '{}'
    headers:
      Authorization:
      - API_TOKEN_c7007d28-1dd0-4576-8737-5c9c73df997f
      Content-Type:
      - application/json
    method: POST
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/by-filter/patients?page=1
  response:
    body:
      string: '{"content": [], "pageable": {"sort": {"sorted": false, "unsorted":
        true, "empty": true}, "pageNumber": 1, "pageSize": 20, "offset": 20, "paged":
        true, "unpaged": false}, "last": true, "totalElements": 5, "totalPages": 1,
        "sort": {"sorted": false, "unsorted": true, "empty": true}, "first": false,
        "number": 1, "numberOfElements": 0, "size": 20, "empty": true}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
