interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_9a3dfce4-1178-4f45-8e58-f683604bd00f
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/formations/current/programs?page=0
  response:
    body:
      string: '[{"name": "prog-target-patient", "title": "Target Patient", "description":
        "Moderate to severe patients, either on biologics or oral treatment.", "phases":
        [{"name": "start", "title": "Start", "type": "START", "description": "", "autoFinishProgram":
        false, "navigateTo": [{"name": "finish"}, {"name": "continuing-old-treatment"},
        {"name": "stopping-old-treatment"}, {"name": "consent-requested"}]}, {"name":
        "finish", "title": "Finish", "type": "FINISH", "description": "", "autoFinishProgram":
        false, "navigateTo": []}, {"name": "records-requested", "title": "Records
        Requested", "type": "DEFAULT", "description": "", "autoFinishProgram": false,
        "navigateTo": [{"name": "records-received"}]}, {"name": "records-received",
       [...]
- request:
    body: '{"phaseName": "finish"}'
    headers:
      Authorization:
      - API_TOKEN_9a3dfce4-1178-4f45-8e58-f683604bd00f
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/de5e1a93-70b0-4ed4-868f-3854becc383c/programs/prog-target-patient
  response:
    body:
      string: '{"id": "77d60b23-6d23-4292-b007-836a0b14be8f", "createdByName": "createdByName_REDACTED_46a14ef7-aa16-4286-9a44-d1a4e91a5cfe",
        "createdAt": "2023-10-31T02:10:16.204Z", "updatedByName": "updatedByName_REDACTED_0ed30a91-f19c-4882-9aa9-2d333d4e0acd",
        "updatedAt": "2023-10-31T02:11:02.904Z", "programName": "prog-target-patient",
        "programTitle": "Target Patient", "programDescription": "Moderate to severe
        patients, either on biologics or oral treatment.", "assigned": true, "patientId":
        "de5e1a93-70b0-4ed4-868f-3854becc383c", "currentPhase": {"timestamp": "2023-10-31T02:11:02.903Z",
        "createdBy": "createdBy_REDACTED_0f85b917-5b1d-4baf-be56-c39501eebc5d", "createdByName":
        "createdByName_REDACTED_157ef5b7-2ab8-48c8-8b02-582334267edf", "name": "finish",
        "title": "Finish", "description": "", "currentVersion": "92", "deleted": false},
        "status": "IN_PROGRESS", "compatibleWithCurrentVersion": true, "pathHistory":
        [{"timestamp": "2023-10-31T02:10:16.209Z", "createdBy": "createdBy_REDACTED_cfea345f-fa4a-4a4e-a6c4-2b920196b401",
        "createdByName": "createdByName_REDACTED_a2abcbc0-89b2-4593-8d30-2d865fc40141",
        "name": "start", "title": "Start", "description": "", "currentVersion": "92",
        "deleted": false}, {"timestamp": "2023-10-31T02:11:02.903Z", "createdBy":
        "createdBy_REDACTED_cd508893-1e9b-42d1-9496-255dea703f21", "createdByName":
        "createdByName_REDACTED_a585ae59-ef98-40d8-8b41-2040869dcd65", "name": "finish",
        "title": "Finish", "description": "", "currentVersion": "92", "deleted": false}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
