interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_13235190-177d-45e1-b780-1d0ab2422b0b
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/371dd15c-cedc-4425-a394-d666c8d3fc01/assessment-records/c8764b19-ffa3-406a-b446-c971036a7a1d
  response:
    body:
      string: '{"id": "c8764b19-ffa3-406a-b446-c971036a7a1d", "createdAt": "2022-08-05T19:36:19.329Z",
        "updatedAt": "2022-08-05T19:56:42.359Z", "createdBy": "createdBy_REDACTED_2ac43055-8a4d-41f2-96db-65060f47615b",
        "updatedBy": "updatedBy_REDACTED_db1e6765-abcc-48c8-bf13-07fe7ae37ebd", "createdByName":
        "createdByName_REDACTED_e545e4ec-bd66-4a39-95e2-00b5e7d2f006", "updatedByName":
        "updatedByName_REDACTED_b1b4bee5-fc01-4571-83f8-6a6590b11de3", "finalizedDate":
        null, "localFinalizedDate": null, "localCreatedDate": "2022-08-05T19:36:19.329+00:00",
        "localUpdatedDate": "2022-08-05T19:56:42.359+00:00", "assessmentName": "asm-hello-form2",
        "assessmentTitle": "hello-form2", "assessmentCdtName": "_asm-hello-form2",
        "version": 8, "patientId": "371dd15c-cedc-4425-a394-d666c8d3fc01", "status":
        "IN_PROGRESS", "answers": {"external_guid": null, "created_at": "2022-08-05T19:36:19.331Z",
        "external_id": null, "source_type": "ASSESSMENT", "created_by_name": "API_CLIENT:YYZBMHHWDAIT",
        "created_by": "4927d187-3fb3-4a9b-a42d-0c740f189412", "updated_by_name": "API_CLIENT:YYZBMHHWDAIT",
        "updated_at": "2022-08-05T21:47:30.827Z", "cdt-hello__cdtf-hi": "abc123",
        "updated_by": "4927d187-3fb3-4a9b-a42d-0c740f189412", "id": "1920a4d9-167e-4fc2-99d2-2aa0c70baab0",
        "source_id": "c8764b19-ffa3-406a-b446-c971036a7a1d", "source_name": "asm-hello-form2"},
        "scoring": {}, "folderId": null, "expirationDate": null, "questions": {},
        "resolvedCdtValues": {}, "pfa": false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: '{"cdt-hello__cdtf-hi": "abc123def"}'
    headers:
      Authorization:
      - API_TOKEN_13235190-177d-45e1-b780-1d0ab2422b0b
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/371dd15c-cedc-4425-a394-d666c8d3fc01/assessment-records/c8764b19-ffa3-406a-b446-c971036a7a1d/answers
  response:
    body:
      string: '{"id": "c8764b19-ffa3-406a-b446-c971036a7a1d", "createdAt": "2022-08-[...]
[...]
