interactions:
- request:
    body: '{"message": "Foo Baz."}'
    headers:
      Authorization:
      - API_TOKEN_920ad761-bcce-40b9-b65f-7eb239234aa1
      Content-Type:
      - application/json
    method: POST
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/17450e44-c2c8-46c4-9486-0d9bfa16d3aa/chat/inbound
  response:
    body:
      string: '{"sender": {"clientType": "PATIENT", "id": "17450e44-c2c8-46c4-9486-0d9bfa16d3aa",
        "titleName": null, "patientFullName": "Testy McTesterson"}, "message": "Foo
        Baz.", "externalId": "IM51dcee1864d54b9b9a1856e9e12a7555", "createdAt": "2022-08-01T20:59:15.000Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
