interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_03326967-3f99-49e6-ba61-8d19ec41b915
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/371dd15c-cedc-4425-a394-d666c8d3fc01/sms/2a8ac491-19bf-4812-9197-dffc2d42cfcf
  response:
    body:
      string: '[{"errorCode": "SMS_NOT_FOUND", "componentType": "SMS", "message":
        "SMS was not found", "details": {"id": "2a8ac491-19bf-4812-9197-dffc2d42cfcf"},
        "date": "2023-09-18T18:10:04.397Z"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
version: 1
