interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_26216883-c11e-43dd-a204-0860f2ebdc78
    method: DELETE
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/283f50d3-0840-426f-b07b-bd8e4ab76401/document-summary/5106ec9d-da83-4ce6-89d0-6a9b7fde0138
  response:
    body:
      string: ''
    headers:
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_26216883-c11e-43dd-a204-0860f2ebdc78
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/283f50d3-0840-426f-b07b-bd8e4ab76401/document-summary/5106ec9d-da83-4ce6-89d0-6a9b7fde0138
  response:
    body:
      string: '[{"errorCode": "DT_RECORD_NOT_FOUND", "componentType": "CDT", "message":
        "DT record not found", "details": {"patientId": "283f50d3-0840-426f-b07b-bd8e4ab76401",
        "cdtRecordId": "5106ec9d-da83-4ce6-89d0-6a9b7fde0138", "cdtName": "_document_summary"},
        "date": "2022-10-25T18:21:59.913Z"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: ''
version: 1
