interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_91aedbaa-51c9-4dda-a796-f9c160557180
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/users/a9618392-799d-4664-a896-5f1756f8d336/encounters?withCareTeam=false&page=0
  response:
    body:
      string: '{"data": [{"id": "d9a52086-f0af-4558-992c-820c37c67248", "patientId":
        "0056c34b-9a83-41bd-bf4d-e4710d7a77f9", "cdtId": null, "version": null, "jsonBody":
        {"type": "etmp-encounter1", "notes": "hi there", "title": "new apt 1", "status":
        "DRAFT", "description": "new apt 2", "endDatetime": null, "instruction": "",
        "ownerUserId": null, "activeUserId": null, "templateName": "etmp-encounter1",
        "calendarEvent": null, "dispositionId": null, "ownerUserName": null, "startDatetime":
        null, "templateTitle": null, "activeUserName": null, "calendarEventId": null,
        "calendarEventStartDatetime": null, "currentScheduledAppointment": null, "patientInfo":
        {"patientId": "0056c34b-9a83-41bd-bf4d-e4710d7a77f9", "firstName": "Abby",
        "lastName": "Henninger"}}, "cdtName": null}, {"id": "1587c70c-cee8-4257-9c33-09ec6dbf67de",
        "patientId": "0056c34b-9a83-41bd-bf4d-e4710d7a77f9", "cdtId": null, "version":
        null, "jsonBody": {"type": "etmp-encounter1", "notes": "", "title": "encounter1",
        "status": "DRAFT", "description": "fdsafdsfda", "endDatetime": null, "instruction":
        "", "ownerUserId": "a9618392-799d-4664-a896-5f1756f8d336", "activeUserId":
        null, "templateName": "etmp-encounter1", "calendarEvent": {"id": "c4bc17e7-6c75-4d4c-9f54-2604643d1300",
        "hostId": "a9618392-799d-4664-a896-5f1756f8d336", "duration": 3600, "timezone":
        "UTC", "createdAt": "2022-07-15T14:56:40.194Z", "createdBy": "createdBy_REDACTED_d3c56953-1b7b-4aad-9bf5-34d30b226cec",
        "eventMode": "VIDEO", "eventType": "ENCOUNTER", "updatedAt": "2022-07-15T14:56:40.194Z",
        "updatedBy": "updatedBy_REDACTED_0a44a0ad-104b-4aa0-b48b-07490bae4387", "eventColor":
        "#e67b2d", "eventTitle": "encounter1", "externalId": null, "allDayEvent":
        false, "endDateTime": "2022-07-15T16:00:00.000Z", "eventStatus": "Scheduled",
        "participants": [{"id": "e5d0bbb1-3a6f-4187-9750-1be5f7e40991", "email": "ben@lightmatter.com",
        "phone": null, "gender": null, "deleted": false, "enabled": true, "attended":
        false, "lastName": "Lightmatter", "timezone": null, "birthDate": null, "firstName":
        "Ben", "hasAccess": false, "participantId": "a9618392-799d-4664-a896-5f1756f8d336",
        "participantRole": "psm", "participationStatus": ""}, {"id": "257ee643-db06-4f08-97a7-ba18e853652e",
        "email": "abby+1@lightmatter.com", "phone": "", "gender": "UNKNOWN", "deleted":
        false, "enabled": null, "attended": false, "lastName": "Henninger", "timezone":
        null, "birthDate": "1984-11-03T00:00:00.000Z", "firstName": "Abby", "hasAccess":
        false, "participantId": "0056c34b-9a83-41bd-bf4d-e4710d7a77f9", "participantRole":
        "patient", "participationStatus": ""}], "startDateTime": "2022-07-15T15:00:00.000Z",
        "additionalInfo": null, "eventDescription": "", "localEndDateTime": "2022-07-15T16:00:00.000+00:00",
        "localStartDateTime": "2022-07-15T15:00:00.000+00:00", "externalIdUpdatedAt":
        "2022-07-15T14:56:40.194Z"}, "dispositionId": "5833b6e2-88f4-45fb-b27c-8bec933ceeaa",
        "ownerUserName": "Ben Lightmatter", "startDatetime": null, "templateTitle":
        "encounter1", "activeUserName": null, "calendarEventId": "c4bc17e7-6c75-4d4c-9f54-2604643d1300",
        "calendarEventStartDatetime": "2022-07-15T15:00:00.000Z", "currentScheduledAppointment":
        {"id": "c4bc17e7-6c75-4d4c-9f54-2604643d1300", "hostId": "a9618392-799d-4664-a896-5f1756f8d336",
        "durat[...]
