interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_08ba7c81-1f45-405a-a00f-9d936cf84ef9
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/formations/current/cdts?page=0
  response:
    body:
      string: '[{"id": "2567b405-0ad7-4213-a7af-f031b7f332d2", "name": "cdt-appt-checkin",
        "title": null, "label": null, "version": 15, "internal": false, "readable":
        true, "updatable": true, "type": "MULTI_RECORD", "relation": "COMMON", "fields":
        [{"name": "cdtf-how-you-doin", "type": "textarea", "formula": null, "dictionary":
        null, "profileDataType": null, "editable": true, "searchable": false, "bulkEdit":
        false, "phi": false, "disable": false, "injectedSource": false, "displayType":
        null, "valueType": null, "meta": {"required": false}}, {"name": "id", "type":
        "text", "formula": null, "dictionary": null, "profileDataType": null, "editable":
        false, "searchable": false, "bulkEdit": false, "phi": false, "disable": false,
        "injectedSource": false, "displayType": null, "valueType": null, "meta": {"required":
        false}}, {"name": "created_at", "type": "datetime", "formula": null, "dictionary":
        null, "profileDataType": null, "editable": false, "searchable": false, "bulkEdit":
        false,[...]
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_08ba7c81-1f45-405a-a00f-9d936cf84ef9
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/formations/current/assessments?page=0
  response:
    body:
      string: '[{"id": "08e62142-8a7e-4596-8a4b-39c8a8ca73a0", "title": "Appointment
        Checkin", "name": "asm-appointment-checkin", "version": 15, "sections": [{"title":
        "Section 1", "name": "section-1", "order": 0, "fields": [{"label": "How you
        doin", "name": "", "refCdtName": "cdt-appt-checkin", "refCdtFieldName": "cdtf-how-you-doin",
        "order": 0, "viewType": "question", "meta": {"type": "textarea", "required":
        false}, "prePopulatedValue": null, "attachments": null}]}], "scoring": {"formula":
        "SUM", "groups": []}, "programs": [], "template": null, "conditionSettings":
        {"elements": [], "events": []}, "displayType": "SECTIONS", "autoCompleted":
        false, "_containsPHI": false}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_08ba7c81-1f45-405a-a00f-9d936cf84ef9
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/formations/current/encounters?page=0
  response:
    body:
      string: '[{"id": "73bc319a-7ce3-48cc-8604-f7a97d2b8d15", "name": "etmp-initial-consultation",
        "title": "Initial Consultation", "encounterDescription": "", "encounterInstruction":
        "", "encounterColor": "#e67b2d", "type": "etmp-initial-consultation", "deliveryMethod":
        "VIDEO", "defaultDuration": 30, "assessmentNames": ["asm-appointment-checkin"]}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_08ba7c81-1f45-405a-a00f-9d936cf84ef9
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/formations/current/encounter-disposition?page=0
  response:
    body:
      string: '{"id": "17b01f54-14bd-424f-9dd0-21ccd9cd652f", "name": "__encounter_disposition__",
        "title": null, "label": null, "version": 15, "internal": true, "readable":
        true, "updatable": true, "type": "[...]
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_08ba7c81-1f45-405a-a00f-9d936cf84ef9
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/formations/current/goal-templates?page=0
  response:
    body:
      string: '[{"name": "gtmp-a-new-goal", "goalName": "A New Goal", "type": "A Test
        Type", "priority": "MEDIUM", "taskTemplates": []}, {"name": "gtmp-test-goal-template",
        "goalName": "Test Goal Template", "type": "testtype", "priority": "LOW", "taskTemplates":
        [{"name": "ttmp-test-task", "subjectConfig": {"type": "POINT_OF_CONTACT"}}]}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_08ba7c81-1f45-405a-a00f-9d936cf84ef9
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/formations/current/document-types?page=0
  response:
    body:
      string: '[{"id": "f2b11194-01b1-4f3f-99f5-7013c94881b5", "name": "doc-type-assessment",
        "title": "Assessment", "label": "Assessment", "version": 15, "internal": true,
        "readable": true, "updatable": true, "type[...]
