interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_caaa7f4a-f7da-4d7a-b5af-86449f546370
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/371dd15c-cedc-4425-a394-d666c8d3fc01/assessment-records?page=0
  response:
    body:
      string: '{"content": [{"id": "ba80fb10-47c0-4814-8cdc-6fce1d076755", "createdAt":
        "2022-07-28T21:04:45.123Z", "updatedAt": "2022-07-28T21:05:58.450Z", "createdBy":
        "createdBy_REDACTED_ccec8004-601c-42e2-9b84-ab1448c29660", "updatedBy": "updatedBy_REDACTED_9da265fc-a16e-424e-b54c-2101ca60f44b",
        "createdByName": "createdByName_REDACTED_40f11fdf-31da-4b57-ae07-4a069573d031",
        "updatedByName": "updatedByName_REDACTED_7079c246-2146-4f31-87cb-f6b410e08aa7",
        "finalizedDate": "2022-07-28T21:05:58.450Z", "localFinalizedDate": "2022-07-28T21:05:58.450+00:00",
        "localCreatedDate": "2022-07-28T21:04:45.123+00:00", "localUpdatedDate": "2022-07-28T21:05:58.450+00:00",
        "assessmentName": "asm-hello-form", "assessmentTitle": "hello-form", "assessmentCdtName":
        "_asm-hello-form", "version": 5, "patientId": "371dd15c-cedc-4425-a394-d666c8d3fc01",
        "status": "COMPLETED", "answers": {"external_guid": null, "created_at": "2022-07-28T21:04:45.125Z",
        "external_id": null, "source_type": "ASSESSMENT", "created_by_name": "Eddit  Cohen",
        "created_by": "c08af975-8afc-49cb-84ac-7189b727148c", "updated_by_name": "Eddit  Cohen",
        "updated_at": "2022-07-28T21:05:57.910Z", "cdt-hello__cdtf-hi": "fda", "updated_by":
        "c08af975-8afc-49cb-84ac-7189b727148c", "id": "2804cabf-1234-4ad4-8d72-a9bc5b227162",
        "source_id": "ba80fb10-47c0-4814-8cdc-6fce1d076755", "source_name": "asm-hello-form"},
        "scoring": {}, "folderId": null, "expirationDate": null, "questions": {"cdt-hello__cdtf-hi":
        "hi"}, "resolvedCdtValues": {}, "pfa": false}, {"id": "39ab1f94-9b82-49b9-867e-d4b4bb28c417",
        "createdAt": "2022-07-29T01:18:39.789Z", "updatedAt": "2022-07-29T01:32:46.084Z",
        "createdBy": "createdBy_REDACTED_ac07e28a-9dcd-4d6c-b8ed-5786f8b70818", "updatedBy":
        "updatedBy_REDACTED_80fddcba-7909-4c1c-8420-df5963419a99", "createdByName":
        "createdByName_REDACTED_44413ffd-72fe-4d1f-99aa-d9ec2cecfe45", "updatedByName":
        "updatedByName_REDACTED_c128c979-584d-4e13-a515-f9874c084db2", "finalizedDate":
 [...]
