interactions:
- request:
    body: '{}'
    headers:
      Authorization:
      - API_TOKEN_d3fc6a32-e1bc-4ae5-9a3e-792646ce2375
      Content-Type:
      - application/json
    method: POST
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/by-filter/patients?page=0
  response:
    body:
      string: '{"content": [{"id": "f0a6594c-f414-4b64-bc0b-1ff40fb904dd", "externalGuid":
        null, "externalId": null, "mrn": null, "createdAt": "2022-05-04T02:00:33.474Z",
        "updatedAt": "2022-05-04T02:00:33.474Z", "createdBy": "createdBy_REDACTED_18ac1fef-21ec-4e42-b688-b9bb9e552094",
        "updatedBy": "updatedBy_REDACTED_60d258a6-c9b7-43b3-9e4d-1ab823f2cb37", "createdByName":
        "createdByName_REDACTED_e3eb708b-e0f8-41c0-a822-8b1e46c63602", "updatedByName":
        "updatedByName_REDACTED_a4cca063-f491-4711-b05f-44bd43b589e2", "firstName":
        "Foo", "lastName": "Bar", "middleName": null, "birthDate": null, "gender":
        "UNKNOWN", "maritalStatus": "UKN", "primaryLanguage": "ENGLISH", "secondaryLanguage":
        null, "email": null, "secondaryEmail": null, "phone": null, "secondaryPhone":
        null, "country": null, "state": null, "city": null, "zip": null, "addressLine1":
        null, "addressLine2": null, "timezone": null, "patientTerritories": [], "careTeamMembers":
        [], "patientPrograms": [{"id": "30171551-6a1f-45ba-b087-0ed4efd41be2", "createdByName":
        "createdByName_REDACTED_2f878f53-8c1c-43c8-977e-730359fa4842", "createdAt":
        "2022-05-04T02:00:33.513Z", "updatedByName": "updatedByName_REDACTED_b46eb07f-e252-4fa2-b97a-72f40b628e90",
        "updatedAt": "2022-05-04T02:00:33.513Z", "programName": "diabetes-treatment",
        "programTitle": "Diabetes Treatment", "programDescription": "Diabetes Treatment
        Program", "assigned": true, "patientId": "f0a6594c-f414-4b64-bc0b-1ff40fb904dd",
        "currentPhase": {"timestamp": "2022-05-04T02:00:33.513Z", "createdBy": "createdBy_REDACTED_ceaaa185-63ff-4213-bdde-5d7eb8099116",
        "createdByName": "createdByName_REDACTED_87442e58-ff5a-4b6f-8723-c0842c80c6f2",
        "name": "start", "title": "Intake", "description": "Diagnose and begin treatment",
        "currentVersion": "2", "deleted": false}, "status": "IN_PROGRESS", "compatibleWithCurrentVersion":
        true, "pathHistory": [{"timestamp": "2022-05-04T02:00:33.513Z", "createdBy":
        "createdBy_REDACTED_94f62c9a-c7d9-4e04-9e16-20e4b5447c80", "createdByName":
        "createdByName_REDACTED_80902c62-a005-417e-86d7-489cc3e5a30f", "name": "start",
        "title": "Intake", "description": "Diagnose and begin treatment", "currentVersion":
        "2", "deleted": false}]}], "careTeam": [], "cadence": [], "patientRegion":
        null, "patientRegionTitle": null, "patientTerritory": null, "pointOfContact":
        null}, {"id": "ec2f7614-bbd2-48a5-be6b-54b7ffb5a467", "externalGuid": null,
        "externalId": null, "mrn": null, "createdAt": "2022-05-03T22:22:29.982Z",
        "updatedAt": "2022-05-03T22:22:29.982Z", "createdBy": "createdBy_REDACTED_9316c4a2-a9b4-4927-8160-b33b75a5a310",
        "updatedBy": "updatedBy_REDACTED_e66dc7bb-4d48-4cce-9152-86b578cc7abc", "createdByName":
        "createdByName_REDACTED_21a3f414-8f6d-462b-b12e-69ea9deb9b83", "updatedByName":
        "updatedByName_REDA[...]
