interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_cff86b44-e229-44da-823c-57f4a9307c31
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/formations/current/document-types/doc-type-others
  response:
    body:
      string: '{"id": "fde8d6ff-0f2b-473e-9a97-bc8cdfac0622", "name": "doc-type-others",
        "title": "Others", "label": "Others", "version": 74, "internal": true, "readable":
        true, "updatable": true, "type": "MULTI_RECORD", "relation": "DOCUMENT_TYPE",
        "fields": [{"name": "notes", "type": "text", "formula": null, "dictionary":
        null, "profileDataType": null, "editable": true, "searchable": false, "bulkEdit":
        false, "phi": true, "disable": false, "injectedSource": false, "displayType":
        null, "valueType": null, "meta": {"required": false}}, {"name": "id", "type":
        "text", "formula": null, "dictionary": null, "profileDataType": null, "editable":
        false, "searchable": false, "bulkEdit": false, "phi": false, "disable": false,
        "injectedSource": false, "displayType": null, "valueType": null, "meta": {"required":
        false}}, {"name": "created_at", "type": "datetime", "formula": null, "dictionary":
        null, "profileDataType": null, "editable": false, "searchable": false, "bulkEdit":
        false,[...]
