interactions:
- request:
    body: '{"encounter_id": "72822eb2-8034-4822-bbc2-58caa0517eea", "patient_id":
      "0056c34b-9a83-41bd-bf4d-e4710d7a77f9", "text": "hello there"}'
    headers:
      Authorization:
      - API_TOKEN_1b4a949e-e3e6-4277-8ecb-a5cec833fcdc
      Content-Type:
      - application/json
    method: POST
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/0056c34b-9a83-41bd-bf4d-e4710d7a77f9/encounters/72822eb2-8034-4822-bbc2-58caa0517eea/comments
  response:
    body:
      string: '[{"errorCode": "ACCESS_FOR_API_CLIENT_RESTRICTED", "componentType":
        "AUTH", "message": "Access to this API is restricted for the APIClient", "details":
        {"clientId": "d2db8a2d-8225-43b4-b1eb-651ffbdb7926", "clientName": "YZSHZAZDPNQV",
        "clientType": "API_CLIENT", "organizationName": "aegis-poc", "requestURI":
        "/aegis-poc/sandbox/patients/0056c34b-9a83-41bd-bf4d-e4710d7a77f9/encounters/72822eb2-8034-4822-bbc2-58caa0517eea/comments"}}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 403
      message: ''
version: 1
