interactions:
  - request:
      body: null
      headers:
        Authorization:
          - API_TOKEN_517300ba-1a30-4c6a-9a69-05c2306c8743
      method: GET
      uri: https://api.live.welkincloud.io/tenant_REDACTED/admin/users/92cc5811-ff71-4101-915d-a419383db168?type=ID
    response:
      body:
        string:
          '{"territories": [], "roles": [], "policies": [], "seats": [], "seatAssignAllowed":
          true, "applicationAccess": {"id": "ca2e8c7e-0477-4ef4-aab9-a254d49a9a6f",
          "createdAt": "2022-05-16T19:02:56.499Z", "updatedAt": "2022-05-16T19:02:56.499Z",
          "userId": "92cc5811-ff71-4101-915d-a419383db168", "adminAccessEnabled": false,
          "auditSecurityAccessEnabled": false, "instanceAccesses": []}, "id": "92cc5811-ff71-4101-915d-a419383db168",
          "username": "bar", "email": "bar@foo.com", "firstName": "Bar", "lastName":
          "Foo", "enabled": false, "mfaEnabled": false, "statusType": null, "createdAt":
          "2022-05-16T19:02:56.490Z", "updatedAt": "2022-05-16T19:46:02.021Z", "ssoAccess":
          false, "passwordAccess": true, "terminologyName": "english", "userState":
          "PROVISIONED", "customUserAttributes": {}, "allowedToReceiveCalls": false,
          "userAttributes": {}, "_root_user": false}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: ""
  - request:
      body: '{"firstName": "Baz"}'
      headers:
        Authorization:
          - API_TOKEN_517300ba-1a30-4c6a-9a69-05c2306c8743
        Content-Type:
          - application/json
      method: PATCH
      uri: https://api.live.welkincloud.io/tenant_REDACTED/admin/users/bar
    response:
      body:
        string:
          '{"territories": [], "roles": [], "policies": [], "seats": [], "seatAssignAllowed":
          true, "applicationAccess": {"id": "ca2e8c7e-0477-4ef4-aab9-a254d49a9a6f",
          "createdAt": "2022-05-16T19:02:56.499Z", "updatedAt": "2022-05-16T19:02:56.499Z",
          "userId": "92cc5811-ff71-4101-915d-a419383db168", "adminAccessEnabled": false,
          "auditSecurityAccessEnabled": false, "instanceAccesses": []}, "id": "92cc5811-ff71-4101-915d-a419383db168",
          "username": "bar", "email": "bar@foo.com", "firstName": "Baz", "lastName":
          "Foo", "enabled": false, "mfaEnabled": false, "statusType": null, "createdAt":
          "2022-05-16T19:02:56.490Z", "updatedAt": "2022-05-16T19:46:02.021Z", "ssoAccess":
          false, "passwordAccess": true, "terminologyName": "english", "userState":
          "PROVISIONED", "customUserAttributes": {}, "allowedToReceiveCalls": false,
          "userAttributes": {}, "_root_user": false}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: ""
version: 1
