interactions:
  - request:
      body: null
      headers:
        Authorization:
          - API_TOKEN_373a5f80-daa2-43cc-a71c-25f037fdf10f
      method: GET
      uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/users/c08af975-8afc-49cb-84ac-7189b727148c/encounters?withCareTeam=False&page=0
    response:
      body:
        string:
          '{"data": [{"id": "22c26a65-161f-42c3-bb0f-a976dac8afe6", "patientId":
          "371dd15c-cedc-4425-a394-d666c8d3fc01", "cdtId": null, "version": null, "jsonBody":
          {"type": "etmp-initial-consultation", "notes": null, "title": "new enc", "status":
          "DRAFT", "description": "new encounter", "endDatetime": null, "instruction":
          "", "ownerUserId": "c08af975-8afc-49cb-84ac-7189b727148c", "activeUserId":
          null, "templateName": "etmp-initial-consultation", "calendarEvent": {"id":
          "555bd5b3-7d73-4d0a-ac9f-a770fb431ac0", "hostId": "c08af975-8afc-49cb-84ac-7189b727148c",
          "duration": 3600, "timezone": null, "createdAt": "2022-07-26T14:05:53.535Z",
          "createdBy": "createdBy_REDACTED_8f2d5f2d-62bf-43c3-a9c5-57d346f4b604", "eventMode":
          "VIDEO", "eventType": "ENCOUNTER", "updatedAt": "2022-07-26T14:05:53.535Z",
          "updatedBy": "updatedBy_REDACTED_9818d5ca-d0d5-48e0-9948-24d5b2f545c9", "eventColor":
          null, "eventTitle": "NEW ENC", "externalId": null, "allDayEvent": false, "endDateTime":
          "2022-07-26T21:05:53.277Z", "eventStatus": "SCHEDULED", "participants": [{"id":
          "fa5c40ee-208f-4d55-ae04-a0086eb42f68", "email": "eddie@lightmatter.com",
          "phone": null, "gender": null, "deleted": false, "enabled": true, "attended":
          false, "lastName": "Cohen", "timezone": null, "birthDate": null, "firstName":
          "Eddit ", "hasAccess": false, "participantId": "c08af975-8afc-49cb-84ac-7189b727148c",
          "participantRole": "psm", "participationStatus": ""}, {"id": "bc9f58e1-313c-424b-8f8e-7bc955775283",
          "email": "eddiehcohen@gmail.com", "phone": "+19142176687", "gender": "UNKNOWN",
          "deleted": false, "enabled": null, "attended": false, "lastName": "Er", "timezone":
          null, "birthDate": "1998-08-08T00:00:00.000Z", "firstName": "Demo", "hasAccess":
          false, "participantId": "371dd15c-cedc-4425-a394-d666c8d3fc01", "participantRole":
          "patient", "participationStatus": ""}], "startDateTime": "2022-07-26T20:05:53.277Z",
          "additionalInfo": null, "eventDescription": null, "localEndDateTime": "2022-07-26T21:05:53.277+00:00",
          "localStartDateTime": "2022-07-26T20:05:53.277+00:00", "externalIdUpdatedAt":
          "2022-07-26T14:05:53.535Z"}, "dispositionId": "20e00b7d-22f6-4153-b756-6607b9b5d166",
          "ownerUserName": "Eddit  Cohen", "startDatetime": null, "templateTitle": null,
          "activeUserName": null, "calendarEventId": "555bd5b3-7d73-4d0a-ac9f-a770fb431ac0",
          "calendarEventStartDatetime": "2022-07-26T20:05:53.277Z", "currentScheduledAppointment":
          {"id": "555bd5b3-7d73-4d0a-ac9f-a770fb431ac0", "hostId": "c08af975-8afc-49cb-84ac-7189b727148c",
          "duration": 3600, "timezone": null, "createdAt": "2022-07-26T14:05:53.535Z",
          "createdBy": "createdBy_REDACTED_51df545d-c9dc-4b0c-914d-9d3aa088b34e", "eventMode":
          "VIDEO", "eventType": "ENCOUNTER", "updatedAt": "2022-07-26T14:05:53.535Z",
          "updatedBy": "updatedBy_REDACTED_9c9f3c97-5c64-49a6-8bb9-8d7a997ecb72", "eventColor":
          null, "eventTitle"[...]
