interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_762633a8-94ef-4eae-90be-08a000bf878e
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/admin/users/658f3b36-a12a-4bce-aad6-1e4930948b7d?type=ID
  response:
    body:
      string: '{"territories": [], "roles": [], "policies": [], "seats": [], "seatAssignAllowed":
        true, "applicationAccess": {"id": "6c143233-fd0a-4ede-8630-685315322b0c",
        "createdAt": "2022-05-13T02:04:37.414Z", "updatedAt": "2022-05-13T15:28:03.991Z",
        "userId": "658f3b36-a12a-4bce-aad6-1e4930948b7d", "adminAccessEnabled": false,
        "auditSecurityAccessEnabled": false, "instanceAccesses": []}, "updatedByName":
        "updatedByName_REDACTED_6f407f76-887d-4673-92bf-3d450f95b9b8", "id": "658f3b36-a12a-4bce-aad6-1e4930948b7d",
        "username": "Foo", "email": "foo@bar.com", "enabled": false, "mfaEnabled":
        false, "statusType": null, "createdAt": "2022-05-13T02:04:37.395Z", "updatedAt":
        "2022-05-13T22:24:35.644Z", "ssoAccess": false, "passwordAccess": true, "terminologyName":
        "english", "userState": "INACTIVE", "customUserAttributes": {}, "allowedToReceiveCalls":
        true, "userAttributes": {}, "_root_user": false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: '{"userId": "658f3b36-a12a-4bce-aad6-1e4930948b7d", "territories": [], "roles":
      [], "policies": [], "seats": [], "seatAssignAllowed": true, "applicationAccess":
      {"id": "6c143233-fd0a-4ede-8630-685315322b0c", "createdAt": "2022-05-13T02:04:37.414Z",
      "updatedAt": "2022-05-13T15:28:03.991Z", "userId": "658f3b36-a12a-4bce-aad6-1e4930948b7d",
      "adminAccessEnabled": false, "auditSecurityAccessEnabled": false, "instanceAccesses":
      []}, "updatedByName": "Sam Morgan", "username": "Foo", "email": "foo@bar.com",
      "enabled": false, "mfaEnabled": false, "statusType": null, "createdAt": "2022-05-13T02:04:37.395Z",
      "updatedAt": "2022-05-13T22:24:35.644Z", "ssoAccess": false, "passwordAccess":
      true, "terminologyName": "english", "userState": "INACTIVE", "customUserAttributes":
      {}, "allowedToReceiveCalls": true, "userAttributes": {}, "_root_user": false,
      "firstName": "Foo"}'
    headers:
      Authorization:
      - API_TOKEN_762633a8-94ef-4eae-90be-08a000bf878e
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.live.welkincloud.io/tenant_REDACTED/admin/users/658f3b36-a12a-4bce-aad6-1e4930948b7d/658f3b36-a12a-4bce-aad6-1e4930948b7d?type=ID
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: ''
version: 1
