interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_8ffebee5-fabf-401f-b441-65dedc22d8f3
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/3ff322fd-b504-4784-9798-0c7c8a4fdfb8/cdts/cdt-self-care/20a1cd2c-dd70-4589-afc4-fb99adaa25ad
  response:
    body:
      string: '{"id": "20a1cd2c-dd70-4589-afc4-fb99adaa25ad", "patientId": "3ff322fd-b504-4784-9798-0c7c8a4fdfb8",
        "cdtId": "f54e57cb-85d6-4b80-84a2-2a0fef721d69", "version": 9, "jsonBody":
        {"external_guid": null, "created_at": "2022-07-27T17:51:23.073Z", "source_type":
        null, "external_id": null, "created_by_name": "API_CLIENT:LEEZSZRXSIOM", "created_by":
        "b20f9924-38ae-4701-b3c6-c2200830b93d", "updated_by_name": "API_CLIENT:LEEZSZRXSIOM",
        "updated_at": "2022-07-27T19:12:18.766Z", "updated_by": "b20f9924-38ae-4701-b3c6-c2200830b93d",
        "cdtf-alone-time": "No", "cdtf-unwind": null, "id": "20a1cd2c-dd70-4589-afc4-fb99adaa25ad",
        "source_id": null, "source_name": null}, "cdtName": "cdt-self-care"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
[...]
- request:
    body: '{"rows": [{"id": "20a1cd2c-dd70-4589-afc4-fb99adaa25ad", "jsonBody": {"cdtf-alone-time":
      "Yes"}}, {"id": "28f59572-efec-4ac1-bbfe-660b1abbd9e5", "jsonBody": {"cdtf-alone-time":
      "Yes"}}]}'
    headers:
      Authorization:
      - API_TOKEN_8ffebee5-fabf-401f-b441-65dedc22d8f3
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/3ff322fd-b504-4784-9798-0c7c8a4fdfb8/cdts/cdt-self-care?page=0
  response:
    body:
      string: '{"rows": [{"id": "20a1cd2c-dd70-4589-afc4-fb99adaa25ad", "jsonBody":
        {"external_guid": null, "created_at": "2022-07-27T17:51:23.073Z", "external_id":
        null, "source_type": null, "created_by_name": "API_CLIENT:LEEZSZRXSIOM", "created_by":
        "b20f9924-38ae-4701-b3c6-c2200830b93d", "updated_by_name": "API_CLIENT:LEEZSZRXSIOM",
        "updated_at": "2022-07-27T19:25:08.314Z", "updated_by": "b20f9924-38ae-4701-b3c6-c2200830b93d",
        "cdtf-alone-time": "Yes", "cdtf-unwind": null, "id": "20a1cd2c-dd70-4589-afc4-fb99adaa25ad",
        "source_id": null, "source_name": null}, "result": {"status": "OK", "content":
        null}}, {"id": "28f59572-efec-4ac1-bbfe-660b1abbd9e5", "jsonBody": {"external_guid":
        null, "created_at": "2022-07-27T16:18:08.605Z", "external_id": null, "source_type":
        null, "created_by_name": "API_CLIENT:LEEZSZRXSIOM", "created_by": "b20f9924-38ae-4701-b3c6-c2200830b93d",
        "updated_by_name": "API_CLIENT:LEEZSZRXSIOM", "updated_at": "2022-07-27T19:25:08.322Z",
        "updated_by": "b20f9924-38ae-4701-b3c6-c2200830b93d", "cdtf-alone-time": "Yes",
        "cdtf-unwind": null, "id": "28f59572-efec-4ac1-bbfe-660b1abbd9e5", "source_id":
        null, "source_name": null}, "result": {"status": "OK", "content": null}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
