interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_d3c6c397-3947-4a54-97f6-67559e1d4191
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/3ff322fd-b504-4784-9798-0c7c8a4fdfb8/cdts/cdt-self-care?page=0
  response:
    body:
      string: '{"name": "cdt-self-care", "data": {"content": [{"id": "20a1cd2c-dd70-4589-afc4-fb99adaa25ad",
        "patientId": "3ff322fd-b504-4784-9798-0c7c8a4fdfb8", "cdtId": "f54e57cb-85d6-4b80-84a2-2a0fef721d69",
        "version": 9, "jsonBody": {"external_guid": null, "created_at": "2022-07-27T17:51:23.073Z",
        "source_type": null, "external_id": null, "created_by_name": "API_CLIENT:LEEZSZRXSIOM",
        "created_by": "b20f9924-38ae-4701-b3c6-c2200830b93d", "updated_by_name": "API_CLIENT:LEEZSZRXSIOM",
        "updated_at": "2022-07-27T17:51:23.073Z", "updated_by": "b20f9924-38ae-4701-b3c6-c2200830b93d",
        "cdtf-alone-time": "Yes", "cdtf-unwind": null, "id": "20a1cd2c-dd70-4589-afc4-fb99adaa25ad",
        "source_id": null, "source_name": null}, "cdtName": "cdt-self-care"}, {"id":
        "28f59572-efec-4ac1-bbfe-660b1abbd9e5", "patientId": "3ff322fd-b504-4784-9798-0c7c8a4fdfb8",
        "cdtId": "f54e57cb-85d6-4b80-84a2-2a0fef721d69", "version": 9, "jsonBody":
        {"external_guid": null, "created_at": "2022-07-27T16:18:08.605Z", "source_type":
        null, "external_id": null, "created_by_name": "API_CLIENT:LEEZSZRXSIOM", "created_by":
        "b20f9924-38ae-4701-b3c6-c2200830b93d", "updated_by_name": "API_CLIENT:LEEZSZRXSIOM",
        "updated_at": "2022-07-27T16:18:08.605Z", "updated_by": "b20f9924-38ae-4701-b3c6-c2200830b93d",
        "cdtf-alone-time": "Yes", "cdtf-unwind": null, "id": "28f59572-efec-4ac1-bbfe-660b1abbd9e5",
        "source_id": null, "source_name": null}, "cdtName": "cdt-self-care"}], "pageable":
        {"sort": {"sorted": false, "unsorted": true, "empty": true}, "pageNumber":
        0, "pageSize": 20, "offset": 0, "unpaged": false, "paged": true}, "last":
        true, "totalElements": 2, "totalPages": 1, "first": true, "number": 0, "sort":
        {"sorted": false, "unsorted": true, "empty": true}, "numberOfElements": 2,
        "size": 20, "empty": false}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
