interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_ebe46945-d50b-4089-a2d3-eba3bc4c1cd8
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/calendar/events/9386a88a-467e-4144-a7df-1af12d6d5aaf
  response:
    body:
      string: '{"id": "9386a88a-467e-4144-a7df-1af12d6d5aaf", "createdBy": "createdBy_REDACTED_a9440510-c541-484e-b093-9c7c4751257f",
        "createdAt": "2022-06-30T16:27:53.106Z", "updatedBy": "updatedBy_REDACTED_50fe5c32-266d-45d8-889a-069644435963",
        "updatedAt": "2022-06-30T16:27:53.106Z", "externalId": null, "externalIdUpdatedAt":
        "2022-06-30T16:27:53.106Z", "eventTitle": null, "eventDescription": null,
        "startDateTime": "2022-06-30T17:27:49.133Z", "localStartDateTime": "2022-06-30T17:27:49.133+00:00",
        "endDateTime": "2022-06-30T18:27:49.133Z", "localEndDateTime": "2022-06-30T18:27:49.133+00:00",
        "allDayEvent": false, "duration": 3600, "eventType": null, "eventStatus":
        null, "eventMode": null, "eventColor": null, "hostId": "d9925247-7505-464a-b42c-25ac71408494",
        "timezone": null, "additionalInfo": null, "participants": [{"id": "5693f5c9-5d85-436c-b7c7-6f9a59a4c2da",
        "participantId": "d9925247-7505-464a-b42c-25ac71408494", "participantRole":
        "psm", "participationStatus": "", "attended": false, "timezone": "US/Pacific",
        "firstName": "Sam", "lastName": "Morgan", "deleted": false, "hasAccess": false,
        "email": "sam@lightmatter.com", "phone": "+13605605686", "gender": null, "birthDate":
        null, "enabled": true}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
