interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_58af2606-0991-4b1b-ac5e-1b1fb07158fa
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/calendar/work-hours?from=2022-03-01T00%3A00%3A00.000Z&to=2024-03-01T00%3A00%3A00.000Z
  response:
    body:
      string: '[{"errorCode": "NOT_VALID_JSON_WEB_TOKEN", "componentType": "AUTH",
        "message": "Not valid JWT", "details": {}, "date": "2023-01-14T03:17:01.945Z"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 401
      message: ''
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_58af2606-0991-4b1b-ac5e-1b1fb07158fa
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/calendar/work-hours?from=2022-03-01T00%3A00%3A00.000Z&to=2024-03-01T00%3A00%3A00.000Z
  response:
    body:
      string: '[{"psmId": "43afc43c-c77b-4014-8224-54e17f59ee03", "details": [{"createdBy":
        "createdBy_REDACTED_56121bac-4eaa-4365-b8e5-96bd2a65006c", "updatedBy": "updatedBy_REDACTED_c06728d1-0ac0-49ae-bb53-db42d8a6a596",
        "createdAt": "2023-01-14T02:30:06.653Z", "updatedAt": "2023-01-14T03:03:17.275Z",
        "workHoursId": "99004510-db8a-4f10-b6af-8c5aab8ec543", "startDateTime": "2023-01-14T03:03:16.583Z",
        "endDateTime": "2073-01-14T03:03:16.583Z", "localStartDateTime": "2023-01-13T19:03:16.583-08:00",
        "localEndDateTime": "2073-01-13T19:03:16.583-08:00", "daysInfo": [{"daysInfoId":
        "0bccc1ce-5346-4f37-99f4-3997d3a73247", "startTime": "09:00:00", "endTime":
        "17:00:00", "day": 7}, {"daysInfoId": "bd7f2322-4f88-4d3a-8377-1a4d9a0e08f7",
        "startTime": "02:30:00", "endTime": "15:00:00", "day": 1}, {"daysInfoId":
        "bf2a7c9d-ac9f-44a9-ad61-1f4c97339e2e", "startTime": "09:00:00", "endTime":
        "17:00:00", "day": 2}, {"daysInfoId": "d7cd30be-3791-4a94-b618-207091ffc443",
        "startTime": "09:00:00", "endTime": "17:00:00", "day": 3}, {"daysInfoId":
        "9b06cfc9-cfdd-4650-92c7-12e7f12e1d87", "startTime": "09:00:00", "endTime":
        "17:00:00", "day": 4}, {"daysInfoId": "914985cc-013d-412f-b185-c11d3ba995db",
        "startTime": "09:00:00", "endTime": "17:00:00", "day": 5}, {"daysInfoId":
        "d0c7a7f1-db39-455f-afc0-8e7ed1cce59d", "startTime": "09:00:00", "endTime":
        "17:00:00", "day": 6}]}]}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
