interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_d09e19b8-387b-42b4-af8e-d0cc2f5541bf
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/371dd15c-cedc-4425-a394-d666c8d3fc01/encounters/22c26a65-161f-42c3-bb0f-a976dac8afe6/assessments/7cf6baa2-14d5-4d3a-9416-0ddd729644b8
  response:
    body:
      string: '{"id": "7cf6baa2-14d5-4d3a-9416-0ddd729644b8", "patientId": "371dd15c-cedc-4425-a394-d666c8d3fc01",
        "cdtId": "f49b03d0-9c96-4a38-8560-633af94f4009", "version": 4, "jsonBody":
        {"external_guid": null, "created_at": "2022-07-26T14:05:53.592Z", "source_type":
        "ENCOUNTER", "external_id": null, "fromTemplate": true, "created_by_name":
        "API_CLIENT:YYZBMHHWDAIT", "created_by": "4927d187-3fb3-4a9b-a42d-0c740f189412",
        "assessmentTitle": "hello-form", "relation": "ASSESSMENT", "updated_by_name":
        "API_CLIENT:YYZBMHHWDAIT", "updated_at": "2022-07-26T14:05:53.592Z", "assessmentName":
        "asm-hello-form", "updated_by": "4927d187-3fb3-4a9b-a42d-0c740f189412", "id":
        "7cf6baa2-14d5-4d3a-9416-0ddd729644b8", "source_id": "22c26a65-161f-42c3-bb0f-a976dac8afe6",
        "assessmentRecordId": null, "source_name": "__encounter__"}, "cdtName": "__encounter_assessment__"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
