interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_5c7de3d2-1fe1-4a28-9a14-c1fe9fd0be66
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/formations/current/programs?page=0
  response:
    body:
      string: '[{"name": "prog-target-patient", "title": "Target Patient", "description":
        "Moderate to severe patients, either on biologics or oral treatment.", "phases":
        [{"name": "start", "title": "Start", "type": "START", "description": "", "autoFinishProgram":
        false, "navigateTo": [{"name": "finish"}]}, {"name": "finish", "title": "Finish",
        "type": "FINISH", "description": "", "autoFinishProgram": false, "navigateTo":
        []}], "nodes": [{"id": "start", "data": {"type": "START", "label": "Start"},
        "type": "graphNode", "position": {"x": 340, "y": 20}}, {"id": "finish", "data":
        {"type": "FINISH", "label": "Finish"}, "type": "graphNode", "position": {"x":
        680, "y": 20}}, {"id": "reactflow__edge-startHandleSrcRight_025adb09-c24a-45f9-b5a5-d1a44450ff43-finishHandleTargetLeft_5f5f5e64-5959-46b2-8e36-c85a86e60456",
        "type": "smoothstep", "source": "start", "target": "finish", "animated": true,
        "sourceHandle": "HandleSrcRight_start", "targetHandle": "HandleTargetLeft_finish",
        "arrowHeadType": "arrowclosed"}]}, {"name": "prog-target-2-patient", "title":
        "Target 2 Patient", "description": "Delayers - en route to top of treatment.",
        "phases": [{"name": "start", "title": "Start", "type": "START", "description":
        "", "autoFinishProgram": false, "navigateTo": [{"name": "finish"}]}, {"name":
        "finish", "title": "Finish", "type": "FINISH", "description": "", "autoFinishProgram":
        false, "navigateTo": []}], "nodes": [{"id": "start", "data": {"label": "Sta[...]
