interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_4f791525-9c64-49e6-b905-eca6b5d31e4d
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/admin/audit-data?page=0
  response:
    body:
      string: '{"data": [{"eventId": "858123632499595409", "eventEntity": "CDT", "subjectUsername":
        "JQVFAOWQGJFQ", "subjectUserId": "14de4837-0344-4799-9553-3c404fffda54", "subjectActor":
        "API_CLIENT", "subjectFullName": "API_CLIENT:JQVFAOWQGJFQ", "patientFullName":
        "Holly Smith", "patientId": "6a041f26-9c87-409c-981c-90152676b119", "instance":
        "test", "cdtName": "__encounter_disposition__", "cdtRelation": "ENCOUNTER_DISPOSITION",
        "eventSubtype": "CDT_CREATED", "sentAt": "2026-06-25T23:16:57.154Z", "record":
        {"patientId": "6a041f26-9c87-409c-981c-90152676b119", "jsonBody": {"id": "ce83a8c3-9d1e-4250-837f-0fdb3a27c7aa",
        "note": null, "source_id": "cf361af1-7744-43bd-bcd9-d1a20e381421", "created_at":
        "2026-06-25T23:16:57.146Z", "created_by": "created_by_REDACTED_923301b6-34d3-4800-ab88-1be83256ebd3",
        "updated_at": "2026-06-25T23:16:57.146Z", "updated_by": "updated_by_REDACTED_4b96b606-34df-4bcb-937f-e033c3ab4a64",
        "external_id": null, "source_name": "__encounter__", "source_type": "ENCOUNTER",
        "external_guid": null, "created_by_name": "created_by_name_REDACTED_fa2d3afc-6157-4b2c-afa9-83469018094b",
        "uicedf-cpt-code": null, "updated_by_name": "updated_by_name_REDACTED_bdf4e206-2b6e-4f97-a535-1b52c056894d",
        "disposition-code": null, "uicedf-followup-type": null, "uicedf-followup-timeframe":
        null, "uicedf-follow-up-scheduled": null, "uicedf-prior-auth-probable": null},
        "id": "ce83a8c3-9d1e-4250-837f-0fdb3a27c7aa", "cdtName": "__encounter_disposition__",
        "cdtId": "43fb9080-c1c3-4f3f-a8c2-a7b079d47241", "version": 259}}, {"eventEntity":
        "CDT", "subjectUsername": "JQVFAOWQGJFQ", "subjectUserId": "14de4837-0344-4799-9553-3c404fffda54",
        "subjectActor": "API_CLIENT", "subjectFullName": "API_CLIENT:JQVFAOWQGJFQ",
        "patientFullName": "Samantha Maxwell", "patientId": "e8d39056-0f69-443f-8630-4dea7539c095",
        "instance": "test", "cdtName": "__encounter_disposition__", "cdtRelation":
        "ENCOUNTER_DISPOSITION", "eventSubtype": "CDT_CREATED", "sentAt": "2023-06-23T23:05:13.339Z",
[...]
