interactions:
- request:
    body: '{"pdtf-name": "Test Name"}'
    headers:
      Authorization:
      - API_TOKEN_92858ded-bc84-486d-aa5b-2bb3408c5ab5
      Content-Type:
      - application/json
    method: POST
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/pdts/pdt-hospitals
  response:
    body:
      string: '{"id": "5af5cd13-9afe-49da-8e8c-a76f3637e83a", "createdAt": "2026-08-31T18:22:36.077Z",
        "updatedAt": "2026-08-31T18:22:36.077Z", "fullValue": "Test Name", "deleted":
        false, "jsonBody": {"pdtf-phone": null, "external_guid": null, "pdtf-name":
        "Test Name", "created_at": "2026-08-31T18:22:36.077Z", "source_type": null,
        "external_id": null, "pdtf-address": null, "created_by_name": "created_by_name_REDACTED_a78eb904-05d2-4cb1-8f72-091a4767e312",
        "created_by": "created_by_REDACTED_36e09c50-5ba9-4e13-9bf8-1e870502341e",
        "updated_by_name": "updated_by_name_REDACTED_9c3d164e-c02d-4295-82e6-4cebe714b2c7",
        "updated_at": "2026-08-31T18:22:36.077Z", "updated_by": "updated_by_REDACTED_acb81f33-83b3-4fdc-a1e9-d0b43aeb50f4",
        "id": "5af5cd13-9afe-49da-8e8c-a76f3637e83a", "source_id": null, "source_name":
        null}, "pdtName": "pdt-hospitals"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
version: 1
