interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_da623803-3ba7-462b-815e-346016b56322
    method: DELETE
    uri: https://api.live.welkincloud.io/tenant_REDACTED/admin/users/658f3b36-a12a-4bce-aad6-1e4930948b7d?type=ID
  response:
    body:
      string: '[{"errorCode": "ACCESS_FOR_API_CLIENT_RESTRICTED", "componentType":
        "AUTH", "message": "Access to this API is restricted for the APIClient", "details":
        {"clientId": "8857ecf5-1d28-4160-8d83-54b948032ac8", "clientName": "BQSCQORFHLKN",
        "clientType": "API_CLIENT", "organizationName": "roi-sandbox", "requestURI":
        "/roi-sandbox/admin/users/658f3b36-a12a-4bce-aad6-1e4930948b7d"}}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 403
      message: ''
version: 1
