interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_c9dfafa0-9132-4b4d-a918-c76c8144c2ca
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/calendar/work-hours?from=2026-01-01T00%3A00%3A00.000Z&to=2026-12-31T00%3A00%3A00.000Z&psmIds=87a66196-697d-4d1e-9f1e-5c0383cd8fc4%2C20d76970-2a95-40b6-8a1c-b64b9f3dac1d%2C27c4c4ab-c329-49f6-9656-4d68d7cdbe1d%2C9f52488d-1a81-4d87-a3ab-13d1772102c1%2Cf277b45b-725a-4a7e-ad61-119e77c35b00%2C6c6976c2-341c-4eb2-a646-dc45fdcc54dd%2C83566b0d-8f7c-4274-94e1-4deaff49968f%2Ce92a63b4-6a8f-410c-9e99-1f1b57d7bf3c%2Cdddbfe2f-9b84-45f5-b003-e63952a07856%2C0f03632c-849b-4a54-9edf-0e06fc96df71%2C5e27914c-0bad-4ef9-baae-a35d1e823dee%2Cca3508a7-0a12-4f9f-b0d4-f010a4b59fe0%2C43afc43c-c77b-4014-8224-54e17f59ee03%2Cdcd52c26-0a30-4ca1-8da0-683a733dce2a%2Ccfed4fb4-9987-40b0-98bd-e3a45750789d%2C0949004e-96e1-4395-86b3-d01958f3426a%2C9796c974-3cbf-48a6-a06f-47f380500149%2C60b4d377-1cc0-494e-bf8e-7b5998b223d4%2C5c017aea-7a28-48b2-81f3-17c2f596798c%2Ce082ec24-cb18-4c69-a5bb-212381f40d0b
  response:
    body:
      string: '[{"psmId": "43afc43c-c77b-4014-8224-54e17f59ee03", "details": [{"createdAt":
        "2023-01-14T02:30:06.653Z", "updatedAt": "2023-01-30T01:56:49.169Z", "createdBy":
        "createdBy_REDACTED_ef3122cb-0fb9-4325-a1fd-b97e48671ce2", "updatedBy": "updatedBy_REDACTED_d60b6173-1a7e-4cb3-9817-2173ede3e14c",
        "name": null, "type": "WORKING_HOURS", "ruleType": "DEFAULT", "startDateTime":
        "2023-01-30T00:00:00.000Z", "endDateTime": "2073-01-30T23:59:59.999Z", "localStartDateTime":
        "2023-01-29T16:00:00.000-08:00", "localEndDateTime": "2073-01-30T15:59:59.999-08:00",
        "daysInfo": [{"startTime": "02:30:00", "endTime": "15:00:00", "day": 1, "daysInfoId":
        "f499ec7a-e78c-4dc6-90df-60c92140908e"}, {"startTime": "09:00:00", "endTime":
        "23:30:00", "day": 2, "daysInfoId": "8036de9f-3344-481c-8c90-50ffc15c2405"},
        {"startTime": "09:00:00", "endTime": "17:00:00", "day": 3, "daysInfoId": "1f8a1fc2-a58f-48bf-89f9-befc73acdc3f"},
        {"startTime": "09:00:00", "endTime": "17:00:00", "day": 3, "daysInfoId": "4e740c2a-27c0-4149-8e39-c972976f8564"},
        {"startTime": "09:00:00", "endTime": "17:00:00", "day": 4, "daysInfoId": "a4b02c5e-dd00-482a-9100-6cdca955f112"},
        {"startTime": "09:00:00", "endTime": "17:00:00", "day": 5, "daysInfoId": "bd5afe6a-cf3a-427c-926f-16eba266e5d1"},
        {"startTime": "09:00:00", "endTime": "17:00:00", "day": 6, "daysInfoId": "d292c874-dbfc-4743-8898-866fdb7f9265"},
        {"startTime": "09:00:00", "endTime": "17:00:00", "day": 7, "daysInfoId": "a5de85d6-ea0b-4846-a68e-5be270ae8cc3"}],
        "workHoursId": "99004510-db8a-4f10-b6af-8c5aab8ec543"}]}, {"psmId": "0f03632c-849b-4a54-9edf-0e06fc96df71",
        "details": [{"createdAt": "2023-04-04T15:49:11.382Z", "updatedAt": "2023-04-04T15:58:06.223Z",
        "createdBy": "createdBy_REDACTED_ba1cf7f2-7ea4-470e-aa4c-96431dbf9a09", "updatedBy":
        "updatedBy_REDACTED_ad06bb7b-b3e3-4605-946c-1bfe1a074ec4", "name": null, "type":
        "WORKING_HOURS", "ruleType": "DEFAULT", "startDateTime": "2023-04-04T00:00:00.000Z",
        "endDateTime": "2073-04-04T23:59:59.999Z", "localStartDateTime": "2023-04-03T20:00:00.000-04:00",
        "localEndDateTime": "2073-04-04T19:59:59.999-04:00", "daysInfo": [{"startTime":
        "09:00:00", "endTime": "17:00:00", "day": 1, "daysInfoId": "a3435d17-477e-4105-a756-1189a060b8be"},
        {"startTime": "09:00:00", "endTime": "17:00:00", "day": 2, "daysInfoId": "2e2a6220-3151-4f08-8683-a2557bb1d3fb"},
        {"startTime": "09:00:00", "endTime": "17:00:00", "day": 3, "daysInfoId": "1f6128c8-20c5-4273-8c9e-ce37d5771b3c"},
        {"startTime": "09:00:00", "endTime": "17:00:00", "day": 4, "daysInfoId": "712464f0-7fbc-469a-a921-416ead97c432"},
        {"startTime": "09:00:00", "endTime": "17:00:00", "day": 5, "daysInfoId": "f44c0697-daf4-4a03-8638-8563d36f6a85"}],
        "workHoursId": "24328d59-8935-4c17-8491-b145a943b8f2"}]}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
