interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_5f9c52f9-fadf-46b5-ad10-3f59623caabe
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/371dd15c-cedc-4425-a394-d666c8d3fc01/encounters/22c26a65-161f-42c3-bb0f-a976dac8afe6/assessments/10c6481b-f25b-49cf-9761-33aeced25f46
  response:
    body:
      string: '{"id": "10c6481b-f25b-49cf-9761-33aeced25f46", "patientId": "371dd15c-cedc-4425-a394-d666c8d3fc01",
        "cdtId": "e77f470c-d93c-4dcf-8f21-8cebcc5c8f40", "version": 6, "jsonBody":
        {"external_guid": null, "created_at": "2022-08-04T18:27:39.678Z", "source_type":
        "ENCOUNTER", "external_id": null, "fromTemplate": false, "created_by_name":
        "API_CLIENT:YYZBMHHWDAIT", "created_by": "4927d187-3fb3-4a9b-a42d-0c740f189412",
        "assessmentTitle": "hello-form", "relation": "ASSESSMENT", "updated_by_name":
        "API_CLIENT:YYZBMHHWDAIT", "updated_at": "2022-08-04T18:27:39.678Z", "assessmentName":
        "asm-hello-form", "updated_by": "4927d187-3fb3-4a9b-a42d-0c740f189412", "id":
        "10c6481b-f25b-49cf-9761-33aeced25f46", "source_id": "22c26a65-161f-42c3-bb0f-a976dac8afe6",
        "assessmentRecordId": null, "source_name": "__encounter__"}, "cdtName": "__encounter_assessment__"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
