[tool.poetry]
name = "welkin"
version = "0.1.1"
description = "Python Welkin Health API Wrapper."
authors = ["Sam Morgan <sama4mail@gmail.com>"]
license = "GPL-3.0-or-later"
readme = "README.md"
repository = "https://github.com/lightmatter/welkin-health"
documentation = "https://welkin.readthedocs.io"
classifiers = [
    "Intended Audience :: Developers",
    "License :: OSI Approved :: GNU General Public License v3 (GPLv3)",
    "Operating System :: OS Independent",
]

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/lightmatter/welkin-health/issues"

[tool.poetry.dependencies]
python = "^3.8"
requests = "^2.28.1"
portalocker = "^2.7.0"

[tool.poetry.group.dev]
optional = true

[tool.poetry.group.dev.dependencies]
black = "^22.10.0"
isort = "^5.10.1"
pre-commit = "^3.5.0"

[tool.poetry.group.test]
optional = true

[tool.poetry.group.test.dependencies]
pytest = "^7.1.3"
pytest-cov = "^4.0.0"
pytest-dotenv = "^0.5.2"
pytest-vcr = "^1.0.2"
pytest-xdist = "^3.2.1"
tomli = "^2.0.1"

[tool.poetry.group.docs]
optional = true

[tool.poetry.group.docs.dependencies]
Sphinx = "^5.2.3"
sphinx-autoapi = "^2.0.0"
sphinx-rtd-theme = "^1.0.0"
myst-parser = "^0.18.1"
tomli = "^2.0.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.isort]
profile = "black"

[tool.coverage.run]
omit = ["test/*"]

[tool.pytest.ini_options]
addopts = ["-n=auto"]
env_files = [".env", ".env.example"]
