interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_81ee7581-0f2d-4ad6-a3a2-d81fcd1dd971
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/de5e1a93-70b0-4ed4-868f-3854becc383c/programs/current/prog-target-patient
  response:
    body:
      string: '{"id": "53e7f5de-67d7-475f-9443-6b4dedf14848", "createdByName": "createdByName_REDACTED_bffddcd1-8dec-4f14-9a37-51a0ef394804",
        "createdAt": "2023-10-31T02:05:28.717Z", "updatedByName": "updatedByName_REDACTED_974eb2ed-a7e6-4eb0-975b-b5060ad6b9bc",
        "updatedAt": "2023-10-31T02:05:28.721Z", "programName": "prog-target-patient",
        "programTitle": "Target Patient", "programDescription": "Moderate to severe
        patients, either on biologics or oral treatment.", "assigned": true, "patientId":
        "de5e1a93-70b0-4ed4-868f-3854becc383c", "currentPhase": {"timestamp": "2023-10-31T02:05:28.720Z",
        "createdBy": "createdBy_REDACTED_f150d790-2185-45b9-935e-e5a3cd0bd0c2", "createdByName":
        "createdByName_REDACTED_89468126-6416-4ec1-8eff-29a556d576b4", "name": "start",
        "title": "Start", "description": "", "currentVersion": "92", "deleted": false},
        "status": "IN_PROGRESS", "compatibleWithCurrentVersion": true, "pathHistory":
        [{"timestamp": "2023-10-31T02:05:28.720Z", "createdBy": "createdBy_REDACTED_0a32843f-09ed-4257-8dd0-90d102c83afe",
        "createdByName": "createdByName_REDACTED_760e9fd1-7526-4ca0-9efe-695e2130aec3",
        "name": "start", "title": "Start", "description": "", "currentVersion": "92",
        "deleted": false}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
