interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_81ee7581-0f2d-4ad6-a3a2-d81fcd1dd971
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/de5e1a93-70b0-4ed4-868f-3854becc383c/programs/current/prog-target-patient
  response:
    body:
      string: '[{"errorCode": "PATIENT_PROGRAM_NOT_FOUND", "componentType": "PATIENT_PROGRAM",
        "message": "Patient related to program doesn''t exist", "details": {"programName":
        "prog-target-patient", "patientId": "de5e1a93-70b0-4ed4-868f-3854becc383c",
        "notStatus": "FINISHED"}, "date": "2023-10-31T02:10:16.035Z"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: '{"assigned": true, "phaseName": "start"}'
    headers:
      Authorization:
      - API_TOKEN_81ee7581-0f2d-4ad6-a3a2-d81fcd1dd971
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/de5e1a93-70b0-4ed4-868f-3854becc383c/programs/prog-target-patient
  response:
    body:
      string: '{"id": "77d60b23-6d23-4292-b007-836a0b14be8f", "createdByName": "createdByName_REDACTED_f2965ed7-e6d4-4911-9b8c-105be1f3bdc1",
        "createdAt": "2023-10-31T02:10:16.204Z", "updatedByName": "updatedByName_REDACTED_cfe65b70-81c8-4c33-b79c-12674b135592",
        "updatedAt": "2023-10-31T02:10:16.210Z", "programName": "prog-target-patient",
        "programTitle": "Target Patient", "programDescription": "Moderate to severe
        patients, either on biologics or oral treatment.", "assigned": true, "patientId":
        "de5e1a93-70b0-4ed4-868f-3854becc383c", "currentPhase": {"timestamp": "2023-10-31T02:10:16.209Z",
        "createdBy": "createdBy_REDACTED_c6e05235-517f-4c81-8f6f-25235fcb3ad8", "createdByName":
        "createdByName_REDACTED_9b2881ee-0d32-420d-a6a9-99c591018ed2", "name": "start",
        "title": "Start", "description": "", "currentVersion": "92", "deleted": false},
        "status": "IN_PROGRESS", "compatibleWithCurrentVersion": true, "pathHistory":
        [{"timestamp": "2023-10-31T02:10:16.209Z", "createdBy": "createdBy_REDACTED_3c4c585f-e200-4f42-8141-23716e911021",
        "createdByName": "createdByName_REDACTED_a5e49667-4d24-4718-a656-98e96da012c5",
        "name": "start", "title": "Start", "description": "", "currentVersion": "92",
        "deleted": false}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
