interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_30372f20-d5c5-4762-ac9e-8bac7837bfe1
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/12345678-1234-1234-1234-1234567890ab?type=EGUID
  response:
    body:
      string: '{"createdByName": "createdByName_REDACTED_9630aa92-aae0-45e9-895c-9ee6f2a6adcf",
        "country": "US", "notes": null, "patientType": null, "secondaryPhoneCapabilities":
        [], "createdAt": "2023-10-27T23:19:20.506Z", "last_engaged_at": "2024-05-09T21:55:12.000Z",
        "accessCode": null, "addressLine1": "625 ELMIRA RD", "addressLine2": null,
        "id": "de5e1a93-70b0-4ed4-868f-3854becc383c", "state": "California", "secondaryLanguage":
        null, "careTeam": [{"id": "d1757e77-94f4-45f6-8afe-debcf702a1f6", "username":
        "scheduler.test", "firstName": "Scheduler", "lastName": "Test", "email": "welkin-scheduler-test@joinzest.com",
        "roles": [{"name": "clinical", "primaryRole": true}, {"name": "medical-provider",
        "primaryRole": false}], "pointOfContact": true, "enabled": true}], "updatedAt":
        "2024-05-09T21:55:14.347Z", "primaryPhoneCapabilities": ["VOICE_CALL", "SMS"],
        "pointOfContact": {"id": "d1757e77-94f4-45f6-8afe-debcf702a1f6", "pointOfContact":
        true}, "goals": [], "zip": "95687", "updatedBy": "updatedBy_REDACTED_e9a94756-3664-40c8-9755-08065e843174",
        "preferableInstancePhoneId": null, "last_login": "2024-05-09T21:55:12.000Z",
        "externalGuid": "12345678-1234-1234-1234-1234567890ab", "patientPrograms":
        [{"id": "cc265e2d-738d-413a-a527-b9b606cc6e15", "createdByName": "createdByName_REDACTED_31bfaaf6-300a-47f0-811b-4e76594a48cc",
        "createdAt": "2024-02-12T15:09:44.722Z", "updatedByName": "updatedByName_REDACTED_6aa245ce-53f5-4b09-a380-524728ce3dcd",
        "updatedAt": "2024-02-12T15:09:44.722Z", "programName": "prog-non-target-patient",
        "programTitle": "Non-Target Patient", "programDescription": "All other non-target
        patients that do not meet the criteria for other care plans.", "assigned":
        true, "patientId": "de5e1a93-70b0-4ed4-868f-3854becc383c", "currentPhase":
        null, "status": "NOT_STARTED", "compatibleWithCurrentVersion": true, "pathHistory":
        []}, {"id": "c87fad01-dbe7-40d1-9334-5bf303d63685", "createdByName": "createdByName_REDACTED_56dec951-f8c6-44d1-aac3-d671d9de7221",
        "createdAt": "2024-02-12T15:09:48.336Z", "updatedByName": "updatedByName_REDACTED_eb13c4a5-b8d8-4514-800c-d608789c8890",
        "updatedAt": "2024-02-12T15:09:48.336Z", "programName": "prog-target-2-patient",
        "programTitle": "Target 2 Patient", "programDescription": "Delayers - en route
        to top of treatment.", "assigned": true, "patientId": "de5e1a93-70b0-4ed4-868f-3854becc383c",
        "currentPhase": null, "status": "NOT_STARTED", "compatibleWithCurrentVersion":
        true, "pathHistory": []}, {"id": "3094aef8-9a17-4033-b158-d379a532c6a5", "createdByName":
        "createdByName_REDACTED_a4ea5efe-5a31-4848-82c4-061db2597593", "createdAt":
        "2024-05-20T19:07:47.239Z", "updatedByName": "updatedByName_REDACTED_144de3cb-4c17-4361-91a2-9de67cfdc056",
        "updatedAt": "2024-05-20T19:07:47.243Z", "programName": "prog-target-patient",
        "programTitle": "Target Patient", "programDescription": "Moderate to severe
        patients, either on biologics or oral treatment.", "assigned": true, "patientId":
        "de5e1a93-70b0-4ed4-868f-3854becc383c", "currentPhase": {"timestamp": "2024-05-20T19:07:47.242Z",
        "createdBy": "createdBy_REDACTED_e361f1f6-0604-4a3a-b4d2-1dec50f486de", "createdByName":
        "createdByName_REDACTED_f9a5d0f9-304e-4702-93bb-3d780ebc0340", "name": "start",
        "title": "Start", "description": "", "currentVersion": "146", "deleted": false},
        "status": "IN_PROGRESS", "compatibleWithCurrentVersion": true, "pathHistory":
        [{"timestamp": "2024-05-20T19:07:47.242Z", "createdBy": "createdBy_REDACTED_51f9b08c-110f-404f-9985-841a178d1f29",
        "createdByName": "createdByName_REDACTED_0b626670-a79a-46bb-8745-b8659b7d3ef2",
        "name": "start", "title": "Start", "description": "", "currentVersion": "146",
        "deleted": false}]}], "cadence": [], "firstName": "Jonathan", "phone": "+12015550123",
        "maritalStatus": "UKN", "secondaryPhone": null, "patientTerritory": "All Territories",
        "lastName": "Dixon", "secondaryEmail": null, "gender": "UNKNOWN", "city":
        "VACAVILLE", "timezone": null, "careTeamMembers": [{"id": "d1757e77-94f4-45f6-8afe-debcf702a1f6",
        "pointOfContact": true}], "zest-time-zone": "America/Los_Angeles", "ppf-assigned-coach":
        null, "email": "achang@example.org", "updatedByName": "updatedByName_REDACTED_5e1854d9-00fa-4057-b75f-e5f73a57e8fe",
        "mrn": "u~jz1TinPhQsa/yExZZsDjNg", "externalId": "u~jz1TinPhQsa/yExZZsDjNg",
        "nric": null, "birthDate": null, "patientRegionTitle": "All Regions", "stage":
        "Subscribed", "clinical_segment": "disqualified", "createdBy": "createdBy_REDACTED_83fa2da1-ca4c-4864-94cc-b6af69bf0180",
        "middleName": null, "patientTerritories": [{"name": "rgt-all-regions", "territories":
        ["All Territories"]}], "patientRegion": "rgt-all-regions", "in-network": null,
        "primaryLanguage": "ENGLISH"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
