interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_8c30b443-e12e-4d0a-a6ff-340c36f26844
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/admin/users?size=1000&page=0
  response:
    body:
      string: '{"data": [{"territories": [{"createdAt": "2025-01-07T16:58:21.630Z",
        "updatedAt": "2026-01-27T20:33:42.756Z", "createdBy": "createdBy_REDACTED_73a272a5-4029-4584-974f-d75b5439d282",
        "updatedBy": "updatedBy_REDACTED_6ccc41ef-04de-4bf7-8430-88990ab25dbd", "name":
        "rgt-all-regions", "territories": ["All Territories"], "instanceName": "test"},
        {"createdAt": "2025-01-07T16:58:21.630Z", "updatedAt": "2026-01-27T20:33:42.756Z",
        "createdBy": "createdBy_REDACTED_e4bdf886-a8e1-4d3e-b0af-c82b6960f552", "updatedBy":
        "updatedBy_REDACTED_686947f2-54b7-44c8-8524-3ea8681c1afe", "name": "rgt-all-regions",
        "territories": ["All Territories"], "instanceName": "sandbox"}, {"createdAt":
        "2025-01-07T16:58:21.630Z", "updatedAt": "2026-01-27T20:33:42.756Z", "createdBy":
        "createdBy_REDACTED_e5dbb31e-7946-43e3-b1b2-67346740d574", "updatedBy": "updatedBy_REDACTED_ccd0f476-8468-4325-aa6d-7885ddd7a3c3",
        "name": "rgt-all-regions", "territories": ["All Territories"], "instanceName":
        "live"}], "fullTerritoriesAccessInstances": [], "roles": [{"createdAt": "2025-01-07T16:58:21.644Z",
        "updatedAt": "2026-01-27T20:33:42.856Z", "permissionName": "product", "instanceName":
        "test", "type": "SECURITY_ROLE", "primaryRole": true}, {"createdAt": "2025-01-07T16:58:21.644Z",
        "updatedAt": "2026-01-27T20:33:42.856Z", "permissionName": "clinical", "instanceName":
        "test", "type": "SECURITY_ROLE", "primaryRole": false}, {"createdAt": "2025-01-07T16:58:21.644Z",
        "updatedAt": "2026-01-27T20:33:42.856Z", "permissionName": "engineering",
        "instanceName": "test", "type": "SECURITY_ROLE", "primaryRole": false}, {"createdAt":
        "2025-01-07T16:58:21.644Z", "updatedAt": "2026-01-27T20:33:42.856[...]
