interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_c9dfafa0-9132-4b4d-a918-c76c8144c2ca
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/admin/users?page=0
  response:
    body:
      string: '{"data": [{"territories": [], "roles": [], "policies": [], "seats":
        [], "seatAssignAllowed": false, "applicationAccess": {"id": "7e921eda-2f7f-4013-abf6-a6f0073dd63b",
        "createdAt": "2022-07-27T19:17:37.112Z", "updatedAt": "2022-11-15T05:38:12.078Z",
        "userId": "87a66196-697d-4d1e-9f1e-5c0383cd8fc4", "adminAccessEnabled": false,
        "auditSecurityAccessEnabled": false, "instanceAccesses": []}, "createdByName":
        "createdByName_REDACTED_04683d45-aba1-4d5d-a1f1-d20e1f2f2696", "updatedByName":
        "updatedByName_REDACTED_ce9232b4-7a05-4c5d-a138-ff44eb35de7a", "id": "87a66196-697d-4d1e-9f1e-5c0383cd8fc4",
        "username": "will.h", "email": "will@lightmatter.com", "timezone": "US/Mountain",
        "locale": "en-US", "firstName": "Will", "lastName": "Hoback", "credentials":
        "Operations", "enabled": false, "mfaEnabled": false, "statusType": null, "createdAt":
        "2022-07-27T19:17:37.107Z", "updatedAt": "2022-11-15T05:38:17.242Z", "ssoAccess":
        true, "passwordAccess": false, "terminologyName": "english", "userState":
        "INACTIVE", "customUserAttributes": {}, "allowedToReceiveCalls": true, "_root_user":
        false}, {"territories": [], "roles": [{"createdAt": "2025-11-23T19:27:13.084Z",
        "updatedAt": "2025-11-23T19:28:54.558Z", "permissionName": "super-admin",
        "instanceName": "live", "type": "SECURITY_ROLE", "primaryRole": true}, {"createdAt":
        "2025-11-23T19:27:13.084Z", "updatedAt": "2025-11-23T19:28:54.558Z", "permissionName":
        "super-admin", "instanceName": "sandbox", "type": "SECURITY_ROLE", "primaryRole":
        true}], "policies": [], "seats": ["GENERAL"], "seatAssignAllowed": true, "applicationAccess":
        {"id": "247693c5-357a-4b9c-b032-c484d9c7d329", "createdAt": "2025-10-02T16:16:47.662Z",
        "updatedAt": "2025-11-23T19:28:48.055Z", "userId": "20d76970-2a95-40b6-8a1c-b64b9f3dac1d",
        "adminAccessEnabled": true, "auditSecurityAccessEnabled": true, "instanceAccesses":
        [{"instanceId": "c6b632ee-2762-4837-8fd5-dfedafef8511", "instanceName": "sandbox",
        "instanceDescription": "Sandbox for product and engineering development",
        "userEmailWithInstanceDomain": null, "workshopAccessEnabled": true, "auditDataAccessEnabled":
        false, "enabledTakenPersonally": true}, {"instanceId": "d832f883-526c-48b1-83be-32a98dc66a53",
        "instanceName": "live", "instanceDescription": "Production environment for
        live users", "userEmailWithInstanceDomain": "artem.Koval@clinic.joinzest.com",
        "workshopAccessEnabled": true, "auditDataAccessEnabled": false, "enabledTakenPersonally":
        true}]}, "createdByName": "createdByName_REDACTED_7b3c48c5-6eb5-4838-97c9-51033b798a75",
        "updatedByName": "updatedByName_REDACTED_4b504ac0-a032-475b-9f5e[...]
